<template>
    <div id="app" class="wrapper">
        <modal name="following-streamer">
            <div class="center-text-v-h">{{ followStatusMessage }}</div>
        </modal>
        <parallax class="section page-header header-filter" :style="headerStyle">
            <div class="brand">
                <h2 class="text-white bold-text">Search Gamers in your country</h2>
                <h3 class="text-white">
                    Search for streamers by name, platform or game.
                </h3>
            </div>
        </parallax>
        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <div class="md-layout">
                        <div
                                class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
                        >
                            <Dropdown
                                    :options="codes"
                                    :disabled="false"
                                    name="zipcode"
                                    :maxItem="350"
                                    :class="'multiselect__tags'"
                                    v-on:selected="validateSelection"
                                    placeholder="Select a country"
                            >
                            </Dropdown>

                        </div>


                        <div
                                class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
                        >
                            <multiselect
                                    id="games_played"
                                    @search-change="getGames"
                                    v-model="selectedGame"
                                    :options="games"
                                    :multiple="true"
                                    :close-on-select="true"
                                    :clear-on-select="false"
                                    :preserve-search="true"
                                    placeholder="Games"
                                    label="name"
                                    track-by="name"
                            >
                            </multiselect>
                        </div>

                    </div>

                    <md-button
                            ref="searchStreamersBtn"
                            @click.stop.prevent="searchGamers()"
                            v-on:click="noStreamers = false"
                            slot="footer"
                            class="md-simple md-success md-lg"
                    >
                        Search
                    </md-button>
                </div>

                <!-- Search Results -->
                <div class="md-layout md-alignment-center" v-if="loading">
                    <div style="width: 60px; height: 60px;">
                        <rotate-square2></rotate-square2>
                    </div>
                </div>
                <div
                        class="md-layout text-center md-alignment-center"
                        id="v-for-object"
                        v-else
                >
                    <div v-if="noGamers === true" class="alert alert-warning">
                        <div class="container">
                            <b>{{ noGamersFound }}</b>
                        </div>
                    </div>

                    <div
                            v-for="value in streamers"
                            class="md-layout-item md-size-20 md-small-size-100"
                    >
                        <div class="md-card md-card-nav-tabs md-theme-default no-label">
                            <div class="md-card-content">
                                <div
                                        class="md-tabs md-primary md-alignment-center md-theme-default"
                                >
                                    <div class="md-content md-tabs-content md-theme-default">
                                        <div class="md-content md-tabs-content md-theme-default">
                                            <img
                                                    v-if="value.profile_pic"
                                                    style="width:120px;"
                                                    :src="odinUrl + value.profile_pic"
                                                    alt="Circle Image"
                                                    class="rounded-circle img-fluid md-alignment-center"
                                            />
                                            <img
                                                    v-else
                                                    style="width:120px;"
                                                    src="/base/placeholder.jpg"
                                                    alt="Circle Image"
                                                    class="rounded-circle img-fluid md-alignment-center"
                                            />
                                            <h4>
                                                <a :href="'/#/streamer-profile?name=' + value.gamer_tag">{{
                                                    value.gamer_tag }}</a>
                                            </h4>
                                            <p>{{ value.title }}</p>
                                            <div
                                                    v-if="value.following === false"
                                                    class="md-button md-info md-round md-theme-default"
                                                    :ref="'streamer_' + value.user_id"
                                            >
                                                <div class="md-ripple">
                                                    <div @click="followStreamer(value.gamer_tag, value.user_id)"
                                                         class="md-button-content">
                                                        <span>Follow</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                    v-else
                                                    class="md-button md-primary md-round md-theme-default"
                                            >
                                                <div class="md-ripple">
                                                    <div
                                                            class="md-button-content"
                                                    >
                                                        <i class='md-icon md-icon-font md-theme-default'>favorite</i>Following
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import Users from "@/services/api/Users";
    import CubeSpin from "vue-loading-spinner/src/components/Diamond";
    import RotateSquare2 from "vue-loading-spinner/src/components/RotateSquare2";
    import countryRegionData from "country-region-data";
    import Dropdown from "vue-simple-search-dropdown";
    import Countries from "../../services/local/Countries";
    import Games from "../../services/api/Games";
    import VModal from "vue-js-modal";
    import Multiselect from "vue-multiselect";
    import store from "../../store";

    export default {
        components: {
            RotateSquare2,
            CubeSpin,
            Dropdown,
            VModal,
            Multiselect
        },
        bodyClass: "profile-page",
        beforeMount() {
            this.loading = false;
        },
        data() {
            return {
                follows: store.state.user.follows ? store.state.user.follows : [],
                currentUser: store.state.user.id,
                loading: true,
                keyword: null,
                country: null,
                streamers: {},
                noGamers: false,
                noGamersFound: "No gamers found.",
                countryRegionData: countryRegionData,
                codes: this.getCountries(countryRegionData),
                countryCode: null,
                selectedGame: null,
                games: [],
                followStatus: false,
                followStatusMessage: false
            };
        },
        methods: {
            searchGamers: function () {
                this.loading = true
                this.noGamers = false
                let data = {
                    country: this.countryCode ? this.countryCode : null,
                    game: this.selectedGame ? this.selectedGame[0].id : null
                };
                if (data.game == null && data.country == null) {
                    this.noGamers = true
                    this.noGamersFound = "Please select a country or game."
                    this.loading = false
                } else {
                    Users.getGamers(data)
                        .then(data => {
                            this.streamers = data;
                            if (Object.keys(data).length === 0) {
                                this.noGamers = true
                                this.noGamersFound = "No gamers found."
                            }
                        })
                        .catch(error => console.log(error))
                        .finally(() => {
                            this.loading = false
                            let scrollingElement = document.scrollingElement || document.body;
                            scrollingElement.scrollTop = scrollingElement.scrollHeight;
                        });
                }
            },
            getCountries() {
                return Countries.buildCountriesData(countryRegionData);
            },
            validateSelection(event) {
                this.countryCode = event.id;
            },
            followStreamer(gamerTag, streamerId) {
                let selectedButtonId = "streamer_" + streamerId
                let buttonFollow = this.$refs[selectedButtonId]
                buttonFollow[0].innerHTML = "<div class='md-ripple'><div class='md-button-content'>LOADING...</div></div>"
                Users.followStreamer(gamerTag)
                    .then(response => {
                        if (response.status === 200) {
                            this.followStatus = true;
                            buttonFollow[0].classList.remove('md-info')
                            buttonFollow[0].classList.add('md-primary')
                            buttonFollow[0].innerHTML = ""
                            buttonFollow[0].innerHTML += "<div class='md-ripple'><div class='md-button-content'><i class='md-icon md-icon-font md-theme-default'>favorite</i>Following</div></div>"
                            buttonFollow[0].focus()
                            this.followStatusMessage = response.message
                        } else {
                            this.show()
                            this.followStatus = false
                            this.followStatusMessage = "Something went wrong."
                        }
                    })
                    .catch(error => console.log(error))
                    .finally(() => {
                        var scrollingElement = document.scrollingElement || document.body;
                        scrollingElement.scrollTop = scrollingElement.scrollHeight;
                    });
            },
            getGames(query) {
                Games.getAllGames(query)
                    .then(response => {
                        if (response.length > 0) {
                            this.games = response;
                        } else {
                            this.games = [];
                        }
                    })
                    .catch(error => console.log(error));
            },
            show() {
                this.$modal.show("following-streamer");
            },
            hide() {
                this.$modal.hide("following-streamer");
                this.$modal.hide("failed-follow");
            }
        },
        props: {
            header: {
                type: String,
                default: require("@/assets/img/gamers-1.png")
            },
            img: {
                type: String,
                default: require("@/assets/img/faces/christian.jpg")
            }
        },
        computed: {
            headerStyle() {
                return {
                    backgroundImage: `url(${this.header})`
                };
            }
        }
    };
</script>

<style lang="scss" scoped>
    .section {
        padding: 0;
    }

    .profile-tabs {
        .md-card-tabs .md-list {
            justify-content: center;
        }

        [class*="tab-pane-"] {
            margin-top: 3.213rem;
            padding-bottom: 50px;

            img {
                margin-bottom: 2.142rem;
            }
        }
    }

    .dropdown {
        z-index: 1000;
    }

    .center-text-v-h {
        margin: 0;
        position: absolute;
        top: 50%;
        font-weight: bold;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

</style>
