<template>
  <div id="app" class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="brand">
        <h2 class="text-white bold-text">Search Streamers</h2>
        <h3 class="text-white margin-b-2-rem">
          Search for streamers by gamer tag, platform or game.
        </h3>
      </div>
    </div>
    <div class="main main-raised">
      <div class="section section-basic padding-b-2-rem">
        <div class="container">
          <div class="md-layout">
            <div class="md-layout-item md-size-100 md-small-size-100">
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Search streamers...</label>
                <md-input
                    v-model="keyword"
                    @keyup.enter="searchStreamers"
                ></md-input>
              </md-field>
            </div>
            <!--            <div-->
            <!--              class="md-layout-item md-size-33 md-small-size-100 margin-t-1-rem"-->
            <!--            >-->
            <!--              <multiselect-->
            <!--                v-model="selectedCountry"-->
            <!--                track-by="name"-->
            <!--                label="name"-->
            <!--                placeholder="Select a country"-->
            <!--                :options="codes"-->
            <!--                :searchable="true"-->
            <!--                :allow-empty="false"-->
            <!--              >-->
            <!--              </multiselect>-->
            <!--            </div>-->

            <div
                class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
            >
              <label for="gaming-platforms" style="font-weight: bold">Search for a Game</label>
              <game-select @selected-game="getGame"></game-select>
            </div>

            <div
                class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
            >
              <label for="gaming-platforms" style="font-weight: bold">Gaming Platforms</label>
              <v-select id="gaming-platforms" :components=" {Deselect}" @input="selectedGamingPlatform" label="label" :options="gamingPlatforms"></v-select>
            </div>
          </div>

          <md-button
              ref="searchStreamersBtn"
              @click.stop.prevent="searchStreamers()"
              v-on:click="noStreamers = false"
              slot="footer"
              class="md-simple md-success md-lg"
          >
            Search
          </md-button>
        </div>

        <!-- Search Results -->
        <div class="md-layout md-alignment-center" v-if="loading">
          <div style="width: 60px; height: 60px;">
            <rotate-square2></rotate-square2>
          </div>
        </div>
        <div
            class="md-layout text-center md-alignment-center margin-l-2-rem margin-r-2-rem"
            id="v-for-object"
            v-else
        >
          <div v-if="streamersFound === true">No Streamers Found...</div>
          <div
              v-for="value in streamers"
              class="md-layout-item md-size-20 md-small-size-100"
          >
            <div class="md-card md-card-nav-tabs md-theme-default no-label">
              <div class="md-card-content">
                <div
                    class="md-tabs md-primary md-alignment-center md-theme-default"
                >
                  <div class="md-content md-tabs-content md-theme-default">
                    <div class="md-content md-tabs-content md-theme-default">
                      <img
                          v-if="value.profile_pic"
                          style="width:120px;"
                          :src="value.profile_pic"
                          alt="Circle Image"
                          class="rounded-circle img-fluid md-alignment-center"
                      />
                      <img
                          v-else
                          style="width:120px;"
                          src="/base/placeholder.jpg"
                          alt="Circle Image"
                          class="rounded-circle img-fluid md-alignment-center"
                      />
                      <h6>
                        <a
                            :href="'/#/streamer-profile?name=' + value.gamer_tag"
                        >{{ value.gamer_tag }}</a
                        >
                      </h6>
                      <p>{{ getCountryName(value.country_code) }}</p>
                    </div>
                    <!--                    <follow-button-->
                    <!--                      v-if="value.id !== currentUser"-->
                    <!--                      v-bind:data="[value.gamer_tag, value.id]"-->
                    <!--                    ></follow-button>-->
                    <!--                    <div v-else>-->
                    <!--                      <div-->
                    <!--                        class="md-button md-round md-theme-default md-primary"-->
                    <!--                      >-->
                    <!--                        <div class="md-ripple">-->
                    <!--                          <div class="md-button-content">-->
                    <!--                            It's Me!-->
                    <!--                          </div>-->
                    <!--                        </div>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Users from "@/services/api/Users";
import CubeSpin from "vue-loading-spinner/src/components/Diamond";
import RotateSquare2 from "vue-loading-spinner/src/components/RotateSquare2";
import countryRegionData from "country-region-data";
import Dropdown from "vue-simple-search-dropdown";
import Countries from "../../services/local/Countries";
import Games from "../../services/api/Games";
import VModal from "vue-js-modal";
import Multiselect from "vue-multiselect";
import store from "../../store";
import FollowButton from "../../components/FollowButton";
import GameSelect from "../../components/GameSelect";
import VueSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    RotateSquare2,
    CubeSpin,
    Dropdown,
    VModal,
    Multiselect,
    FollowButton,
    Countries,
    GameSelect
  },
  created() {
    this.$on('deselect',this.deselectPlatform);
  },
  bodyClass: "profile-page",
  beforeMount() {
    this.loading = false;
  },
  mounted() {
    this.scroll(this.userOffset);
    // this.convertToPlatformsArray(platform);
  },
  data() {
    return {
      follows: store.state.follows ? store.state.follows : [],
      currentUser: store.state.user.id,
      loading: true,
      keyword: null,
      country: null,
      streamers: {},
      noStreamers: false,
      noStreamersFound: "No streamers found.",
      countryRegionData: countryRegionData,
      codes: this.getCountries(countryRegionData),
      countryCode: null,
      selectedGame: null,
      selectedCountry: null,
      games: [],
      loadingGames: false,
      messages: "",
      userOffset: 30,
      userLoggedIn: store.state.status ? true : false,
      scrollEnded: false,
      streamersFound: false,
      gamingPlatforms: [
        {code: 0, label: "None"},
        {code: 1, label: "Mobile"},
        {code: 2, label: "Playstation"},
        {code: 3, label: "PC"},
        {code: 4, label: "Nintendo"},
        {code: 5, label: "Xbox"}
      ],
      selectedGamingPlatform: null,
      setGamingPlatforms: {},
      Deselect: {
        render: (createElement) => {
          return createElement('span', {
            on: {
              click: ()=>{
                this.$emit('deselect',this);
              }
            }
          },'❌');
        }
      }
    };
  },
  methods: {
    searchStreamers: function () {
      this.streamersFound = false;
      this.scrollEnded = false;
      this.userOffset = 0;
      this.loading = true;
      this.streamers = {}
      let data = {
        keyword: this.keyword ? this.keyword : null,
        country: this.selectedCountry ? this.selectedCountry.id : null,
        game: this.selectedGame ? this.selectedGame : null,
        gaming_platform:
            this.selectedGamingPlatform !== null &&
            this.selectedGamingPlatform.id !== 0
                ? this.selectedGamingPlatform
                : null,
        offset: this.userOffset
      };
      Users.getStreamers(data)
          .then(response => {
            if (response.length === 0) {
              this.streamersFound = true;
            }
            this.streamers = response;
            this.userOffset = 30;
          })
          .catch(error => console.log(error))
          .finally(() => {
            this.loading = false;
            let scrollingElement = document.scrollingElement || document.body;
            scrollingElement.scrollTop = scrollingElement.scrollHeight;
            data = {};
          });
    },
    getGame(gameData) {
      this.selectedGame = gameData.id
      console.log(this.selectedGame)
    },
    getCountries() {
      return Countries.buildCountriesData(countryRegionData);
    },
    validateSelection(event) {
      this.countryCode = event.id;
    },
    getGames(query) {
      this.loadingGames = true;
      Games.getAllGames(query)
          .then(response => {
            if (response.length > 0) {
              this.loadingGames = false;
              this.games = response;
            } else {
              this.games = [];
            }
          })
          .catch(error => console.log(error));
    },
    scroll() {
      window.onscroll = () => {
        if (
            window.innerHeight + window.scrollY >= document.body.offsetHeight &&
            this.noStreamers === false
        ) {
          let data = {
            keyword: this.keyword ? this.keyword : null,
            country: this.selectedCountry ? this.selectedCountry.id : null,
            game: this.selectedGame ? this.selectedGame : null,
            offset: this.userOffset
          };
          Users.getStreamers(data)
              .then(data => {
                if (this.streamers.length >= 30) {
                  this.streamers = this.streamers.concat(data);
                  this.userOffset = this.userOffset + 30;
                }
              })
              .catch(error => console.log(error))
              .finally(() => {
                this.loading = false;
              });
        }
      };
    },
    getCountryName(code) {
      return Countries.getCountryNameByCode(code);
    },
    convertToPlatformsArray(data) {
      let gamingPlatforms = JSON.parse(JSON.stringify(data));
      return Object.values(gamingPlatforms);
    },
    deselectPlatform() {
      this.selectedGamingPlatform = null;
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/streamer/streamer.jpg")
    },
    img: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.profile-tabs {
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
}

.dropdown {
  z-index: 1000;
}

.center-text-v-h {
  position: absolute;
  top: 50%;
  font-weight: bold;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
}

.section {
  padding: 20px 0;
}
</style>
