<template>
  <div id="app" class="wrapper">
    <div class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="section profile-content">
        <div class="container">
          <div class="md-layout margin-l-1-rem margin-r-1-rem margin-t-1-rem">
            <p>
              StreamFind was created due to a need of finding game streamers to
              watch in my own country. There was a simple website that provided
              this but it was not user friendly and didn't have the option to
              create a great profile.
            </p>
            <p>
              I also noticed that there was no other countries included in this
              database. Most streamers cannot afford to pay to have a website
              created for them and most don't have the skills needed to build
              their own site. Thus I saw a need to give streamers a platform to
              create a great customised profile which could help them with their
              online presence and combine all of their social links together in
              one place.
            </p>
            <p>
              I also wanted to make sure to pull through their streams so if you
              wanted to take a peek at their streams, then you could do so
              easily.
            </p>
            <p>
              The site is constantly evolving at this stage and is still in beta
              so there might be some issues but I will fix them as soon as
              possible. Please feel free to take a browse and find your
              favourite streamers or head over to the account registration page
              and create an online presence!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RotateSquare2 from "vue-loading-spinner/src/components/RotateSquare2";
export default {
  components: {
    RotateSquare2
  },
  bodyClass: "profile-page",
  created() {},
  computed: {
    headerStyle() {
      let banner = require("@/assets//img/basestreamer.jpg");
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
.brand h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  line-height: 1.15em;
  text-shadow: 0 15px 102.86px rgba(0, 0, 0, 0.7),
    0 15px 40.02px rgba(0, 0, 0, 0.21);
}
.brand h3 {
  color: #fff;
}
</style>
