<template>
  <div id="app" class="wrapper">
    <div class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Completing Registration</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import RotateSquare2 from "vue-loading-spinner/src/components/RotateSquare2";
import Users from "../services/api/Users.js";
import configUrls from "../../src/config.js";

export default {
  components: {
    RotateSquare2
  },
  bodyClass: "profile-page",
  created() {
    this.completeRegistration();
  },
  data: function() {
    return {
      name: null
    };
  },
  methods: {
    completeRegistration() {
      Users.completeRegistration(this.$route.query.code).then(response => {
        if (response.status === 200) {
          window.location = configUrls.BASE_URL + "/#/login?activated=true";
        }
      });
    }
  },
  computed: {
    headerStyle() {
      let banner = require("@/assets/img/bannercontact.jpg");
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
.brand h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  line-height: 1.15em;
  text-shadow: 0 15px 102.86px rgba(0, 0, 0, 0.7),
    0 15px 40.02px rgba(0, 0, 0, 0.21);
}
.brand h3 {
  color: #fff;
}
.profile-page .page-header {
  background-position: center center;
}
</style>
