<template>
  <div id="app" class="wrapper">
    <div class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="section profile-content">
        <div class="container">
            <div
              v-if="successCall === true"
              class="md-layout alert alert-success"
            >
              <div class="md-layout-item">
                <button
                  v-on:click="successCall = false"
                  type="button"
                  aria-hidden="true"
                  class="close"
                >
                  <i class="md-icon md-icon-font md-theme-default">clear</i>
                </button>
                <div class="alert-icon">
                  <i class="md-icon md-icon-font md-theme-default">check</i>
                </div>
                <b>{{ successMessage }}</b>
              </div>
            </div>

            <div v-if="showError === true" class="md-layout alert alert-danger">
              <div class="md-layout-item">
                <button
                  v-on:click="showError = false"
                  type="button"
                  aria-hidden="true"
                  class="close"
                >
                  <i class="md-icon md-icon-font md-theme-default">clear</i>
                </button>
                <div class="alert-icon">
                  <i class="md-icon md-icon-font md-theme-default">check</i>
                </div>
                <b>{{ errorMessage }}</b>
              </div>
            </div>

            <div
              v-if="errorResponse === true"
              class="md-layout alert alert-danger md-size-100"
            >
              <div class="md-layout-item">
                <button
                  v-on:click="errorResponse = false"
                  type="button"
                  aria-hidden="true"
                  class="close"
                >
                  <i class="md-icon md-icon-font md-theme-default">clear</i>
                </button>
                <div class="alert-icon">
                  <i class="md-icon md-icon-font md-theme-default">check</i>
                </div>
                <b>{{ errorMessage }}</b>
              </div>
            </div>

            <div v-if="loading">
              <loading
                :active.sync="loading"
                :can-cancel="false"
                :on-cancel="onCancel"
                :is-full-page="fullPage"
                :loader="dots"
              />
            </div>

            <div class="md-card-content md-layout">
              <div class="md-layout">
                <div class="md-layout-item md-size-50 md-small-size-95">
                  <md-field class="md-form-group" slot="inputs">
                    <md-icon>person</md-icon>
                    <label>Name...</label>
                    <md-input required v-model="name"></md-input>
                  </md-field>
                </div>

                <div class="md-layout-item md-size-50 md-small-size-95">
                  <md-field class="md-form-group" slot="inputs">
                    <md-icon>person</md-icon>
                    <label>Surname...</label>
                    <md-input required v-model="surname"></md-input>
                  </md-field>
                </div>

                <div class="md-layout-item md-size-50 md-small-size-95">
                  <md-field class="md-form-group" slot="inputs">
                    <md-icon>email</md-icon>
                    <label>Email...</label>
                    <md-input required v-model="email"></md-input>
                  </md-field>
                </div>

                <div class="md-layout-item md-size-50 md-small-size-95">
                  <md-field class="md-form-group" slot="inputs">
                    <md-icon>phone_iphone</md-icon>
                    <label>Cell Number...</label>
                    <md-input required v-model="phone_number"></md-input>
                  </md-field>
                </div>

                <div
                  class="md-layout-item md-size-100 md-small-size-95 margin-b-2-rem"
                >
                  <div
                    class="md-field md-theme-default md-has-value md-has-textarea"
                    maxlength="500"
                  >
                    <label for="query">Message</label>
                    <md-textarea
                      placeholder="Type your message here..."
                      id="query"
                      v-model="query"
                      class="md-textarea"
                      required
                    ></md-textarea>
                  </div>
                </div>
                <div class="md-layout-item md-size-100 md-small-size-95 mb-4">
                  <div>
                    <vue-recaptcha
                      :sitekey="this.sitekey"
                      :loadRecaptchaScript="true"
                      @verify="validateRecaptcha"
                      @expired="onCaptchaExpired"
                    />
                  </div>

                  <md-button
                    :disabled="submitButtonStatus == true ? false : true"
                    @click.stop.prevent="submitMessage()"
                    slot="footer"
                    class="md-primary md-success md-lg pull-right"
                  >
                    Submit
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Contacts from "../services/api/Contacts";
import Validation from "../services/api/RecaptchaValidate";
import VueRecaptcha from "vue-recaptcha";
import config from "../config";
import Loading from "vue-loading-overlay";

export default {
  components: {
    Loading,
    VueRecaptcha
  },
  bodyClass: "profile-page",
  created() {},
  data: function() {
    return {
      name: null,
      surname: null,
      email: null,
      phone_number: null,
      query: null,
      successCall: false,
      successMessage: "",
      errorMessage: "",
      showError: false,
      submitButtonStatus: false,
      sitekey: config.RECAPTCHA_PUBLIC_KEY,
      errorResponse: false,
      loading: false
    };
  },
  methods: {
    submitMessage() {
      this.loading = true;
      Contacts.contact({
        name: this.name,
        surname: this.surname,
        email: this.email,
        phone_number: this.phone_number,
        message: this.query
      }).then(response => {
        this.loading = false;
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        if (response.status === 200) {
          this.successCall = true;
          this.showError = false;
          this.errorMessage = "";
          this.successMessage =
            "Your query has been submitted. Someone will get in touch with you ASAP!";
        } else {
          document.body.scrollTop = document.documentElement.scrollTop = 0;
          this.successMessage = "";
          this.successCall = false;
          this.showError = true;
          this.errorMessage = response.data.field + " is a required field";
        }
      });
    },
    validateRecaptcha(response) {
      Validation.validate(response)
        .then(result => {
          if (result.data.status == true) {
            this.submitButtonStatus = true;
          }
        })
        .catch(error => console.log(error));
    },
    onCaptchaExpired() {
      this.submitButtonStatus = false;
    }
  },
  computed: {
    headerStyle() {
      let banner = require("@/assets//img/basestreamer.jpg");
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
.brand h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  line-height: 1.15em;
  text-shadow: 0 15px 102.86px rgba(0, 0, 0, 0.7),
    0 15px 40.02px rgba(0, 0, 0, 0.21);
}
.brand h3 {
  color: #fff;
}
.section {
  padding: 0 0;
}
.md-layout-item {
  padding-right: 10px;
  padding-left: 10px;
}
.md-textarea::placeholder {
  font-size:12px !important;
}
</style>
