<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="green">
              <h4 slot="title" class="card-title">Register Follower</h4>
              <p v-if="error" class="md-form-group" slot="title">
                <label class="text-white bold-text">{{ capitalizeFirstLetter(error) }}</label>
              </p>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>First Name...</label>
                <md-input v-model="firstname"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Last Name...</label>
                <md-input v-model="lastname"></md-input>
              </md-field>

              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Username...</label>
                <md-input v-model="username"></md-input>
              </md-field>

              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email...</label>
                <md-input v-model="email" type="email"></md-input>
              </md-field>

              <md-field class="md-form-group" slot="inputs">
                <md-icon>lock_outline</md-icon>
                <label>Password...</label>
                <md-input v-model="password"></md-input>
              </md-field>

              <multiselect
                slot="select"
                v-model="country_code"
                :options="options"
                placeholder="Select your country"
              />

              <md-button
                @click.stop.prevent="registerUser()"
                slot="footer"
                class="md-simple md-success md-lg"
              >
                Register
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import countryRegionData from "country-region-data";
import Dropdown from "../components/Dropdown";
import Countries from "../services/local/Countries";
import Multiselect from "vue-multiselect";
import UserTypes from "../services/local/UserTypes";
import store from "../store";

export default {
  components: {
    LoginCard,
    Dropdown,
    countryRegionData,
    Multiselect
  },
  bodyClass: "login-page",
  data() {
    return {
      firstname: null,
      lastname: null,
      title: null,
      username: null,
      email: null,
      password: null,
      country_code: null,
      user_type: null,
      countryRegionData: countryRegionData,
      options: Countries.getCountries(),
      user_types: UserTypes.getUserTypes(),
      value: [],
      error: null
    };
  },
  methods: {
    registerUser: function() {
      this.error = null;
      let countryCode = Countries.getCountryCodeByName(this.country_code);
      let user = {
        name: this.firstname,
        surname: this.lastname,
        email: this.email,
        username: this.username,
        country_code: countryCode,
        user_type: 3,
        password: this.password
      };
      store.dispatch("registerFollower", { user }).catch(err => {
        if (err !== null && err.response.data.validation === "required") {
          this.loginStateError = true;
          this.error = err.response.data.field + " is required!";
        } else if (err !== null && err.response.data.validation === "unique") {
          this.loginStateError = true;
          this.error = err.response.data.field + " has already been taken!";
        }
      });
    },
    onChange(value) {
      this.value = value;
      if (value.indexOf("Reset me!") !== -1) this.value = [];
    },
    onSelect(option) {
      if (option === "Disable me!") this.isDisabled = true;
    },
    onTouch() {
      this.isTouched = true;
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/actionblur.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="css">
.card-title {
    color:#fff;
}
</style>
