<template>
  <div id="app" class="wrapper">
    <div class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Community Guidelines</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="section profile-content">
        <div class="container">
          <div class="md-layout margin-l-1-rem margin-r-1-rem margin-t-1-rem">
            <h3>Pornography</h3>
            <p>
              Streamfind is not a place for pornography of any nature. If your
              account is found to have any of this content it will be
              deactivated permanently!
            </p>
            <p>
              Fetish imagery, Vivid sexual descriptions, Graphic depictions of
              sexual activity, Images of nudity where the poses, camera angles,
              or props suggest pornographic intent.
            </p>
            <h3>Profanity</h3>
            <p>
              We do not condone any use of profanity, derogatory terms or racist
              remarks. If your account is found to have any of this content it
              will be deactivated permanently!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RotateSquare2 from "vue-loading-spinner/src/components/RotateSquare2";
export default {
  components: {
    RotateSquare2
  },
  bodyClass: "profile-page",
  created() {},
  computed: {
    headerStyle() {
      let banner = require("@/assets//img/basestreamer.jpg");
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
.brand h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  line-height: 1.15em;
  text-shadow: 0 15px 102.86px rgba(0, 0, 0, 0.7),
    0 15px 40.02px rgba(0, 0, 0, 0.21);
}
.brand h3 {
  color: #fff;
}
</style>
