<template>
  <div class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <!--            <img :src="leaf4" alt="leaf4" class="leaf4" v-show="leafShow" />-->
            <!--            <img :src="leaf3" alt="leaf3" class="leaf3" v-show="leafShow" />-->
            <!--            <img :src="leaf2" alt="leaf2" class="leaf2" v-show="leafShow" />-->
            <!--            <img :src="leaf1" alt="leaf1" class="leaf1" v-show="leafShow" />-->
            <div class="brand">
              <h1>StreamFind</h1>
              <h3>Welcome to StreamFind</h3>
            </div>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">
          <div v-if="messages" class="alert alert-danger text-center center">
            <b>{{ messages }}</b>
          </div>
          <p>
            Create a profile and share your links to your social pages, streamer
            links or alternatively you can just search for new streamers to
            watch and follow!
          </p>
          <h4 class="text-center">Check out our latest streamers!</h4>
          <div class="md-layout text-center md-alignment-center">
            <div v-if="loading">
              <ping-pong style="width: 60px; height: 60px;"></ping-pong>
            </div>
            <div
              v-for="value in users"
              class="md-layout-item md-size-25 md-small-size-50 md-xsmall-size-100"
            >
              <div class="md-card md-theme-default no-label">
                <div class="md-card-content">
                  <div
                    class="md-tabs md-primary md-alignment-center md-theme-default"
                  >
                    <div class="md-content md-tabs-content md-theme-default">
                      <div class="md-content md-tabs-content md-theme-default">
                        <img
                          v-if="value.profile_pic"
                          style="width:120px;"
                          :src="odinUrl + value.profile_pic"
                          alt="Circle Image"
                          class="rounded-circle img-fluid md-alignment-center"
                        />
                        <img
                          v-else
                          style="width:120px;"
                          src="/base/placeholder.jpg"
                          alt="Circle Image"
                          class="rounded-circle img-fluid md-alignment-center"
                        />
                        <h4>
                          <a
                            :href="
                              '/#/streamer-profile?name=' + value.gamer_tag
                            "
                            >{{ value.gamer_tag }}</a
                          >
                        </h4>
                        <p>{{ value.title ? value.title : "Streamer" }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BasicElements from "./components/BasicElementsSection";
import Navigation from "./components/NavigationSection";
import SmallNavigation from "./components/SmallNavigationSection";
import Tabs from "./components/TabsSection";
import NavPills from "./components/NavPillsSection";
import Notifications from "./components/NotificationsSection";
import TypographyImages from "./components/TypographyImagesSection";
import JavascriptComponents from "./components/JavascriptComponentsSection";
import { LoginCard } from "@/components";
import Users from "../services/api/Users";
import store from "../store";
import PingPong from "vue-loading-spinner/src/components/PingPong";

export default {
  components: {
    BasicElements,
    Navigation,
    SmallNavigation,
    Tabs,
    NavPills,
    Notifications,
    TypographyImages,
    JavascriptComponents,
    LoginCard,
    PingPong
  },
  name: "index",
  bodyClass: "index-page",
  props: {
    image: {
      type: String,
      default: require("@/assets/img/basestreamer.jpg")
    },
    leaf4: {
      type: String,
      default: require("@/assets/img/leaf4.png")
    },
    leaf3: {
      type: String,
      default: require("@/assets/img/leaf3.png")
    },
    leaf2: {
      type: String,
      default: require("@/assets/img/leaf2.png")
    },
    leaf1: {
      type: String,
      default: require("@/assets/img/leaf1.png")
    },
    signup: {
      type: String,
      default: require("@/assets/img/city.jpg")
    },
    landing: {
      type: String,
      default: require("@/assets/img/landing.jpg")
    },
    profile: {
      type: String,
      default: require("@/assets/img/profile.jpg")
    }
  },
  created() {
    // let userCountryCode = store.state.user.country_code;
    let userCountryCode = "ZA";
    if (typeof store.state.user.country_code === "undefined") {
      userCountryCode = "none";
    }
    Users.getLatestStreamers(userCountryCode)
      .then(users => {
        this.users = users.data;
        this.loading = false;
      })
      .catch();
  },
  data() {
    return {
      firstname: null,
      email: null,
      password: null,
      leafShow: false,
      users: [],
      loading: true,
      messages: this.$route.params.messages
    };
  },
  methods: {
    leafActive() {
      this.leafShow = window.innerWidth >= 768;
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.image})`
      };
    },
    signupImage() {
      return {
        backgroundImage: `url(${this.signup})`
      };
    }
  },
  mounted() {
    this.leafActive();
    window.addEventListener("resize", this.leafActive);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.leafActive);
  }
};
</script>
<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
</style>
