<template>
  <div class="wrapper">
    <div class="section page-header header-filter">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <div v-if="showMessage">
              <success-with-message :message="message"></success-with-message>
            </div>
            <div v-if="showErrorMessage">
              <error-with-message :message="message"></error-with-message>
            </div>
            <br />
            <br />
          </div>
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="green">
              <h4 slot="title" class="card-title">Login</h4>
              <md-field
                v-if="loginStateError === true"
                class="md-form-group"
                slot="inputs"
              >
                <div class="alert alert-danger text-center center">
                  <div class="container">
                    <b v-if="error">{{ error }}</b>
                  </div>
                </div>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email or Username...</label>
                <md-input v-model="email" type="text"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>lock_outline</md-icon>
                <label>Password...</label>
                <md-input
                  type="password"
                  v-model="password"
                  @keyup.enter="login"
                ></md-input>
              </md-field>
              <div class="md-form-group" slot="link">
                <a
                  href="/#/password-reset"
                  class="md-simple md-success md-lg text-center"
                >
                  Reset Password
                </a>
              </div>
              <md-button
                @click.stop.prevent="login()"
                slot="footer"
                class="md-primary md-success md-medium"
              >
                Login
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import Vue from "vue";
import "es6-promise/auto";
import Vuex from "vuex";
import store from "../store";
import Users from "../services/api/Users";
import SuccessWithMessage from "../components/SuccessWithMessage";
import ErrorWithMessage from "../components/ErrorWithMessage";

Vue.use(Vuex);

export default {
  components: {
    LoginCard,
    SuccessWithMessage,
    ErrorWithMessage
  },
  bodyClass: "login-page",
  beforeMount() {
    if (this.$route.query.activated === "true") {
      this.showMessage = true;
      this.message = "Your account has been activated! You may now login!";
    }
    if (this.$route.query.expired_token === "true") {
      this.showErrorMessage = true;
      this.message = "Your session has expired. Please login again!";
    }
  },
  created() {
    if (
      this.$route.params.message !== null &&
      typeof this.$route.params.message !== "undefined"
    ) {
      this.message = this.$route.params.message;
      this.showMessage = true;
    } else {
      this.message = null;
    }
    if (store.state.token !== "") {
      Users.redirectHome(this.$router);
    }
  },
  data() {
    return {
      email: null,
      username: null,
      password: null,
      loginStateError: false,
      error: null,
      showMessage: false,
      showErrorMessage: false,
      message: null,
      statusUpdate: false
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/actionblur.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  getters: {
    isLoggedIn: state => !!state.token,
    authStatus: state => state.status
  },
  methods: {
    login: function() {
      this.error = null;
      let email = this.email;
      let password = this.password;
      store.dispatch("login", { email, password }).catch(err => {
        this.loginStateError = true;
        if (
          err.response.status !== "undefined" &&
          err.response.status === 429
        ) {
          this.error =
            "You have made too many login attempts. Please wait a couple minutes and try again or reset your password with the link below.";
        } else {
          if (err.response.data.field) {
            this.error = err.response.data.field + " is required!";
          } else {
            if (err.response.data.message === "Authentication Failed") {
              this.error = "Email or Password incorrect!";
            } else {
              this.error = err.response.data.message;
            }
          }
        }
      });
    }
  }
};
</script>

<style lang="css">
.login-page {
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
}
#material-kit {
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
  background: transparent;
}
@keyframes gradient {
  0%,100% {
    background-position: left
  }
  50% {
    background-position: right
  }
}
.login-page .page-header::before {
  background: transparent !important;
}
</style>
