<template>
  <div id="app" class="wrapper">
    <div class="page-header header-filter" :style="{ backgroundImage: 'url(' + banner + ')' }">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>{{ user.gamer_tag }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="section profile-content">
        <div class="container">
          <div class="md-layout md-alignment-center" v-if="loading">
            <div style="width: 70px; height: 70px;">
              <rotate-square2></rotate-square2>
            </div>
          </div>
          <div v-else class="md-layout">
            <div class="md-layout-item md-size-50 mx-auto">
              <div class="profile">
                <div class="avatar">
                  <img
                    :src="profilePic"
                    alt="Circle Image"
                    class="img-raised rounded-circle img-fluid"
                  />
                </div>
                <div class="name">
                  <p class="loading" v-if="loading"></p>
                  <h6 class="margin-t-2-rem" v-else>{{ getCountryName(user.country_code) }}</h6>
                  <md-button
                    v-if="user.instagram_name"
                    v-bind:href="
                      'https://www.instagram.com/' + user.instagram_name + '/'
                    "
                    target="_blank"
                    class="md-just-icon md-simple md-instagram"
                    ><i class="fab fa-instagram"></i
                  ></md-button>
                  <md-button
                    v-if="user.twitter_name"
                    v-bind:href="
                      'https://www.twitter.com/' + user.twitter_name + '/'
                    "
                    target="_blank"
                    class="md-just-icon md-simple md-twitter"
                    ><i class="fab fa-twitter"></i
                  ></md-button>
                  <md-button
                    v-if="user.user_website"
                    v-bind:href="user.user_website"
                    target="_blank"
                    class="md-just-icon md-simple md-twitter"
                    ><i class="fa fa-link"></i
                  ></md-button>
                  <md-button
                    v-if="user.facebook_name"
                    v-bind:href="
                      'https://www.facebook.com/' + user.facebook_name + '/'
                    "
                    target="_blank"
                    v-bind:style="{ color: user.main_colour + '!important' }"
                    class="md-just-icon md-simple md-facebook"
                    ><i class="fab fa-facebook"></i
                  ></md-button>
                </div>
              </div>
            </div>
          </div>
          <div class="description text-center">
            <p class="loading" v-if="loading"></p>
            <p class="shortDesc" v-else>{{ user.short_desc }}</p>
          </div>
          <div class="profile-tabs">
            <tabs
              :tab-name="['Bio', 'Games I Play', 'Streams']"
              :tab-icon="['camera', 'palette', 'favorite']"
              plain
              nav-pills-icons
              color-button="success"
            >
              <!-- here you can add your content for tab-content -->
              <template v-if="user.user_type === 'streamer'" slot="tab-pane-1">
                <div class="md-layout">
                  <div v-html="user.bio"></div>
                </div>
              </template>
              <template slot="tab-pane-2">
                <div class="md-layout">
                  <div
                    class="md-layout-item md-size-20 md-small-size-50 text-center"
                    v-for="game in games"
                  >
                    {{ game.name }}
                    <img :src="game.image" v-bind:alt="game.name" />
                  </div>
                </div>
              </template>
              <template v-if="user.user_type === 'streamer'" slot="tab-pane-3">
                <div class="md-layout">
                  <div class="md-layout-item md-size-100 ml-auto">
                    <div class="iframe-container">
                      <div v-if="user.stream_platform === 1">
                        <div v-if="user.mixer_name">
                          <vue-twitch-player
                            :channel="user.twitch_name"
                          ></vue-twitch-player>
                        </div>
                      </div>
                      <div v-if="user.stream_platform === 2">
                        <div v-if="user.mixer_name">
                          <iframe
                            :title="user.mixer_name + ' player frame'"
                            i18n-title="channel#ShareDialog:playerEmbedFrame|Embed player Frame copied from share dialog"
                            allowfullscreen="true"
                            :src="
                              'https://mixer.com/embed/player/' +
                                user.mixer_name +
                                '?disableLowLatency=1'
                            "
                            width="620"
                            height="349"
                          >
                          </iframe>
                        </div>
                      </div>
                      <div v-if="user.stream_platform === 3">
                        <div v-if="user.youtube_name">
                          <iframe
                            :src="
                              'http://www.youtube.com/embed/?listType=user_uploads&list=' +
                                user.youtube_name
                            "
                            width="480"
                            height="400"
                          ></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Tabs } from "@/components";
import RotateSquare2 from "vue-loading-spinner/src/components/RotateSquare2";
import Users from "../services/api/Users";
import store from "../store";
import VueTwitchPlayer from "vue-twitch-player";
import { odinUrl } from "../main";
import Countries from "../services/local/Countries";
//import {BASE_URL} from "../../config";

export default {
  components: {
    Tabs,
    RotateSquare2,
    VueTwitchPlayer
  },
  bodyClass: "profile-page",
  created() {
    if (store.state.status === "success") {
      this.getTheUser();
    }
  },
  data() {
    return {
      loading: true,
      odinUrl: odinUrl,
      user: [],
      games: [],
      banner: require("@/assets/img/default-eax.jpg"),
      componentKey: 0,
      tabPane1: [
        { image: require("@/assets/img/examples/studio-1.jpg") },
        { image: require("@/assets/img/examples/studio-2.jpg") },
        { image: require("@/assets/img/examples/studio-4.jpg") },
        { image: require("@/assets/img/examples/studio-5.jpg") }
      ],
      tabPane2: [
        { image: require("@/assets/img/examples/olu-eletu.jpg") },
        { image: require("@/assets/img/examples/clem-onojeghuo.jpg") },
        { image: require("@/assets/img/examples/cynthia-del-rio.jpg") },
        { image: require("@/assets/img/examples/mariya-georgieva.jpg") },
        { image: require("@/assets/img/examples/clem-onojegaw.jpg") }
      ],
      tabPane3: [
        { image: require("@/assets/img/examples/mariya-georgieva.jpg") },
        { image: require("@/assets/img/examples/studio-3.jpg") },
        { image: require("@/assets/img/examples/clem-onojeghuo.jpg") },
        { image: require("@/assets/img/examples/olu-eletu.jpg") },
        { image: require("@/assets/img/examples/studio-1.jpg") }
      ]
    };
  },
  methods: {
    getTheUser() {
      Users.getUserByToken(store.state.token)
        .then(response => {
          this.user = response.data.user;
          this.games = response.data.games;
          if (this.user.banner !== null) {
            this.banner = odinUrl + this.user.banner
          }
          this.loading = false;
        })
        .catch(error => console.log(error))
        .finally(() => {
          this.loading = false;
        });
    },
    getCountryName(code) {
      return Countries.getCountryNameByCode(code);
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/city-profile.jpg")
    },
    img: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    }
  },
  computed: {
    profilePic() {
      if (this.user.profile_pic) {
        return odinUrl + this.user.profile_pic;
      } else {
        return "/base/placeholder.jpg";
      }
    },
    headerStyle() {
      let banner = "";
      if (this.user.banner == null) {
        banner = odinUrl + "/bg_gradient1.jpg"
      } else {
        banner = odinUrl + this.user.banner
      }
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs ::v-deep {
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
  .iframe-container {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .description p {
    font-size: 25px !important;
    font-weight: bold !important;
  }
}
</style>
