<template>
  <div id="app" class="wrapper">
    <div class="section">
      <div class="container">
        <div class="md-layout register-spacing">
          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="green">
              <h4 slot="title" class="card-title">Register Streamer</h4>
              <p v-if="error" class="md-form-group" slot="title">
                <label>{{ error }}</label>
              </p>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>First Name...</label>
                <md-input v-model="firstname"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Last Name...</label>
                <md-input v-model="lastname"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Username...</label>
                <md-input v-model="username"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email...</label>
                <md-input v-model="email" type="email"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Streamer Title...</label>
                <md-input v-model="title"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Gamer Tag...</label>
                <md-input v-model="gamer_tag"></md-input>
              </md-field>

              <md-field class="md-form-group" slot="inputs">
                <md-icon>lock_outline</md-icon>
                <label>Password...</label>
                <md-input type="password" v-model="password"></md-input>
              </md-field>

<!--              <multiselect-->
<!--                slot="select"-->
<!--                v-model="country_code"-->
<!--                :options="options"-->
<!--                placeholder="Select your country"-->
<!--              ></multiselect>-->

              <md-button
                @click.stop.prevent="registerUser()"
                slot="footer"
                class="md-simple md-success md-lg"
              >
                Register
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import countryRegionData from "country-region-data";
import Dropdown from "../components/Dropdown";
import Countries from "../services/local/Countries";
import Multiselect from "vue-multiselect";
import UserTypes from "../services/local/UserTypes";
import store from "../store";

export default {
  components: {
    LoginCard,
    Dropdown,
    countryRegionData,
    Multiselect
  },
  bodyClass: "login-page",
  data() {
    return {
      firstname: null,
      lastname: null,
      title: null,
      gamer_tag: null,
      username: null,
      profile_pic: null,
      email: null,
      password: null,
      country_code: "ZA",
      user_type: null,
      countryRegionData: countryRegionData,
      // options: Countries.getCountries(),
      user_types: UserTypes.getUserTypes(),
      value: [],
      error: null
    };
  },
  methods: {
    registerUser: function() {
      this.error = null;
      // let countryCode = Countries.getCountryCodeByName(this.country_code);
      let countryCode = "ZA";
      let user = {
        name: this.firstname,
        surname: this.lastname,
        email: this.email,
        title: this.title,
        gamer_tag: this.gamer_tag,
        username: this.username,
        user_type: "streamer",
        profile_pic: this.profile_pic,
        password: this.password,
        country_code: countryCode
      };
      store.dispatch("register", { user }).catch(err => {
        if (err !== null && err.response.data.validation === "required") {
          this.loginStateError = true;
          this.error = err.response.data.field + " is required!";
        } else if (err !== null && err.response.data.validation === "unique") {
          this.loginStateError = true;
          this.error = err.response.data.field + " has already been taken!";
        }
      });
    },
    onChange(value) {
      this.value = value;
      if (value.indexOf("Reset me!") !== -1) this.value = [];
    },
    onSelect(option) {
      if (option === "Disable me!") this.isDisabled = true;
    },
    onTouch() {
      this.isTouched = true;
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/actionblur.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>
<style lang="css">
.login-page {
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
}
#material-kit {
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite !important;
  background: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login-page .page-header::before {
  background: transparent !important;
}
.register-spacing {
  margin-top: 6rem;
}
</style>
