<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-100 md-small-size-100 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <div
              v-if="showMessage === true && message !== null"
              class="md-layout alert alert-success"
            >
              <div class="md-layout-item">
                <button
                  v-on:click="showMessage = false"
                  type="button"
                  aria-hidden="true"
                  class="close"
                >
                  <i class="md-icon md-icon-font md-theme-default">clear</i>
                </button>
                <b>{{ message }}</b>
              </div>
            </div>
            <br />
            <br />
          </div>

          <div
            class="md-layout-item md-size-33 md-small-size-66 md-xsmall-size-100 md-medium-size-40 mx-auto"
          >
            <login-card header-color="green">
              <h4 slot="title" class="card-title">Reset Password</h4>
              <md-field
                v-if="loginStateError === true"
                class="md-form-group"
                slot="inputs"
              >
                <div class="alert alert-danger text-center center">
                  <div class="container">
                    <b v-if="error">{{ error }}</b>
                  </div>
                </div>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email...</label>
                <md-input v-model="email" type="text"></md-input>
              </md-field>
              <md-button
                @click.stop.prevent="resetPassword()"
                slot="footer"
                class="md-simple md-success md-lg"
              >
                Submit
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";
import Vue from "vue";
import "es6-promise/auto";
import Vuex from "vuex";
import store from "../store";
import Users from "../services/api/Users";

Vue.use(Vuex);

export default {
  components: {
    LoginCard
  },
  bodyClass: "login-page",
  created() {
    if (
      this.$route.params.message !== null &&
      typeof this.$route.params.message !== "undefined"
    ) {
      this.message = this.$route.params.message;
      this.showMessage = true;
    } else {
      this.message = null;
    }
    if (store.state.token !== "") {
      Users.redirectHome(this.$router);
    }
  },
  data() {
    return {
      email: null,
      username: null,
      password: null,
      loginStateError: false,
      error: null,
      showMessage: false,
      message: null
    };
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/actionblur.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  },
  getters: {
    isLoggedIn: state => !!state.token,
    authStatus: state => state.status
  },
  methods: {
    resetPassword: function() {
      this.message =
        "We have sent you an email with the password reset link within it. Please login to your email and click the link to reset your password.";
      this.showMessage = true
      this.error = null;
      let email = this.email;
      Users.resetPassword(email)
        .catch(error => console.log(error))
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>

<style lang="css"></style>
