<template>
  <div style="margin-top:60px" id="app" class="wrapper">
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">
          <transition name="fade">
            <div
              class="md-layout-item md-size-60 md-medium-size-60 md-small-size-60 md-xsmall-size-100 mx-auto text-center"
            >
              <div v-if="loading">
                <loading
                  :active.sync="loading"
                  :can-cancel="false"
                  :is-full-page="fullPage"
                  loader="dots"
                />
              </div>
              <div
                class="source"
                v-if="getState === true && getUserType === true"
              >
                <status-update-modal v-bind:handle="true"></status-update-modal>
              </div>
              <div v-if="statusUpdate">
                <success-with-message
                  :message="'You have successfully updated your stream status!'"
                ></success-with-message>
              </div>
              <div v-if="messages.length > 0">
                <div
                  style="margin-top:2rem"
                  v-for="item in messages"
                  class="md-card md-theme-default margin-t-3-rem padding-l-1-rem padding-r-1-rem"
                >
                  <img
                    v-if="item.user.profile_pic"
                    style="width:60px;margin-top: -30px;"
                    :src="odinUrl + item.user.profile_pic"
                    alt="Circle Image"
                    class="rounded-circle img-fluid md-size-50"
                  />
                  <img
                    v-else
                    style="width:60px;margin-top: -30px;"
                    src="/base/placeholder.jpg"
                    alt="Circle Image"
                    class="rounded-circle img-fluid md-size-50"
                  />
                  <div class="md-layout md-gutter md-alignment-center">
                    <div
                      class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50 created_at"
                    >
                      <span>{{
                        toCorrectDateForUserTimeZone(item.created_at)
                      }}</span>
                    </div>
                    <div
                      class="md-layout-item md-medium-size-50 md-small-size-50 md-xsmall-size-50 created_at"
                    >
                      <span>{{
                        toCorrectTimeForUserTimeZone(item.created_at)
                      }}</span>
                    </div>
                  </div>
                  <h4 class="md-size-50">
                    <a
                      :href="
                        '/#/streamer-profile?name=' + item.user.gamer_tag
                          ? item.user.gamer_tag
                          : item.gamer_tag
                      "
                      >{{
                        item.user.gamer_tag
                          ? item.user.gamer_tag
                          : item.gamer_tag
                      }}</a
                    >
                  </h4>
                  <div v-if="item.notification_type == 1">
                    <p v-if="item.game" class="margin-b-1-rem bold-text">
                      Going live
                      {{ getCorrectTimeForUserTimeZone(item.stream_time) }}
                      playing {{ item.game }}
                    </p>

                    <p v-else class="margin-b-1-rem bold-text">
                      Going live at
                      {{ getCorrectTimeForUserTimeZone(item.stream_time) }} -
                      {{ item.timezone }} time.
                    </p>
                    <p class="margin-b-1-rem">
                      {{ item.message }}
                    </p>
                  </div>
                  <div v-if="item.notification_type == 2">
                    <p class="margin-b-1-rem">
                      {{ item.message }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="margin-t-5-rem" v-else>
                <h3>No new status updates today!</h3>
              </div>
            </div>
          </transition>
        </div>
        <div v-if="noFeedsLeft" class="margin-t-2-rem">
          <h4 class="text-center">No more feeds...</h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Users from "../services/api/Users";
import { Modal } from "@/components";
const topicName = "status";
import store from "../store";
import SuccessWithMessage from "../components/SuccessWithMessage";
import { Datetime } from "vue-datetime";
import GameSelect from "../components/GameSelect";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import Notifications from "../components/Notifications";
import StatusUpdateModal from "../components/StatusUpdateModal";

export default {
  components: {
    SuccessWithMessage,
    datetime: Datetime,
    Modal,
    GameSelect,
    Loading,
    Notifications,
    StatusUpdateModal
  },
  computed: {
    getState() {
      return store.state.status === "success" || store.state.token !== "";
    },
    getUserType() {
      return store.state.userType === "streamer";
    }
  },
  data() {
    return {
      currentTimeStamp:
        this.getCurrentDate() + " " + this.getCurrentTimeString(),
      message: "",
      messages: [],
      statusUpdate: false,
      selectedDateTime: null,
      currentTimezone: this.getCurrentTimeZone(),
      streamUpdateModal: false,
      streamerStatusUpdateModal: false,
      selectedGame: null,
      loading: true,
      fullPage: true,
      showHelpLive: false,
      feedOffset: 50,
      scrollEnded: false,
      noFeedsLeft: false
    };
  },
  created() {
    this.getLatestFeed();
  },
  mounted() {
    this.$ws.$on(`${topicName}|live`, this.handleMessage);
    this.$ws.$on(`${topicName}|update`, this.handleMessage);
    this.scroll(this.userOffset);
  },
  methods: {
    getLatestFeed() {
      this.scrollEnded = false;
      this.feedOffset = 0;
      this.loading = true;
      let data = {
        offset: this.feedOffset
      };
      Users.getLatestFeed(data)
        .then(response => {
          this.messages = response.data;
        })
        .catch(error => {
          console.log(error);
        })
        .finally(() => {
          this.loading = false;
        });
    },
    scroll() {
      window.onscroll = () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          let data = {
            offset: this.feedOffset
          };
          if (!this.noFeedsLeft) {
            Users.getLatestFeed(data)
              .then(data => {
                if (this.messages.length >= 30 && this.noFeedsLeft === false) {
                  this.messages = this.messages.concat(data.data);
                  this.feedOffset = this.feedOffset + 30;
                  if (data.data.length === 0) {
                    this.noFeedsLeft = true;
                  }
                }
              })
              .catch(error => console.log(error))
              .finally(() => {
                this.loading = false;
              });
          }
        }
      };
    },
    getCurrentDate() {
      let today = new Date();
      return (
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate()
      );
    },
    getCurrentTimeString() {
      return new Date().toLocaleTimeString(undefined, {
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
      });
    },
    getCurrentTimeZone() {
      return Intl.DateTimeFormat().resolvedOptions().timeZone;
    },
    getSelectedGameFromChild(selectedGame) {
      this.selectedGame = selectedGame;
    },
    getCorrectTimeForUserTimeZone(selectedTime) {
      let convertedDate = new Date(selectedTime);
      return convertedDate.toLocaleString();
    },
    toCorrectDateForUserTimeZone(selectedTime) {
      let convertedDate = new Date(selectedTime);
      return convertedDate.toLocaleDateString();
    },
    toCorrectTimeForUserTimeZone(selectedTime) {
      let convertedDate = new Date(selectedTime);
      return convertedDate.toLocaleTimeString();
    },
    handleMessage(data) {
      let userFollows = store.state.follows;
      if (
        userFollows.includes(data.user_id) ||
        data.user_id === store.state.user.id
      ) {
        data.created_at =
          this.getCurrentDate() + " " + this.getCurrentTimeString();
        if (data.user_id === store.state.user.id) {
          data.user.gamer_tag = store.state.user.gamer_tag;
        }
        this.messages.unshift(data);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.md-app {
  min-height: 350px;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.profile-pic {
  padding: 10px;
}

html {
  margin-top: -5px;
}

.md-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 10px 0;
  overflow: unset;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}
label {
  font-size: 12px;
}
.source {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.md-toolbar .md-toolbar-toggle .icon-bar {
  position: relative;
  display: block;
  width: 22px;
  height: 2px;
  background-color: inherit;
  border: 2px solid !important;
  border-radius: 1px;
}
.md-toolbar.md-theme-default.md-transparent,
.md-toolbar.md-theme-default,
.md-toolbar.md-theme-default .md-title,
.md-toolbar.md-theme-default.md-transparent .md-title {
  margin-top: -3px !important;
}
</style>
