body {
  background-color: #EEEEEE;
  letter-spacing: unset;
  font-size: 1rem;
  color: $black-color;
  line-height: 1.5em;
}

.main{
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.main-raised{
    margin: -60px 30px 0px;
    border-radius: $border-radius-base * 2;
    @include shadow-16dp();
}

.wrapper{
  &.wrapper-full-page{
      height: auto;
      min-height: 100vh;
  }
}


blockquote{
    p{
        font-style: italic;
    }
}

.life-of-material-dashboard{
    background: #FFFFFF;
}

a{
  color: $link-color;
  &:hover,
  &:focus{
      color: darken($link-color, 5%) !important;
      text-decoration: none !important;
  }

  &.text-info{
      &:hover, &:focus{
          color: darken($brand-info, 5%);
      }
  }

  & .material-icons {
    vertical-align: middle;
  }
}

.dropdown.open .dropdown-toggle .md-ripple:after {
  @include rotate-180();
}

.caret,
.md-toolbar {
    @include transition($fast-transition-time, $transition-ease-in);
}

/*           Animations              */
.animation-transition-general{
    @include transition($general-transition-time, $transition-linear);
}

.animation-transition-slow{
    @include transition($slow-transition-time, $transition-linear);
}

.animation-transition-fast{
    @include transition($fast-transition-time, $transition-ease);
}
legend {
  border-bottom: 0;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.places-buttons{
  .md-button{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.md-theme-default :not(input):not(textarea)::selection{
  background-color: #c8c8c8 !important;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .section & {
    flex-direction: column;
  }
}

.md-ripple .md-ripple-wave {
  border-radius: 50% !important;
}

.small, small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto!important;
}

.md-layout {
  margin-right: -15px;
  margin-left: -15px;
}

.bold-text{
  font-weight: bold;
}
