<template>
  <div v-if="showMessage" class="md-layout alert alert-danger md-centered">
    <div class="md-layout-item">
      <button
        v-on:click="showMessage = false"
        type="button"
        aria-hidden="true"
        class="close"
      >
        <i class="md-icon md-icon-font md-theme-default">clear</i>
      </button>
      <b>{{ message }}</b>
    </div>
  </div>
</template>
<script>
export default {
  name: "error-with-message",
  props: {
    message: String
  },
  data() {
    return {
      showMessage: true
    };
  }
};
</script>
<style></style>
