<template>
  <div id="follow-btn-template" type="text/x-template">
    <div
      v-on:click="followed ? unfollow() : follow()"
      class="md-button md-round md-theme-default"
      v-bind:class="{ 'md-info': followed, 'md-primary': !followed }"
    >
      <div class="md-ripple">
        <div class="md-button-content">
          {{ followed ? "Unfollow" : "Follow" }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import store from "../store";
import router from "../router";
import Users from "@/services/api/Users";

export default {
  props: {
    data: Array
  },
  data: function() {
    let followsData = JSON.parse(JSON.stringify(store.state.follows));
    return {
      followed: followsData.includes(this.data[1])
    };
  },
  methods: {
    follow: function() {
      if (store.state.status !== "success") {
        router.push({
          name: "login",
          params: {
            message:
              "Please login or register as a follower to follow streamers."
          }
        });
      } else {
        let gamerTag = this.data[0];
        let streamerId = this.data[1];
        Users.followStreamer(gamerTag)
          .then(response => {
            if (response.status === 200) {
              this.followed = true;
              let newFollows = response.data.follows;
              store.commit("update_follows", newFollows);
            } else {
              this.unfollow(gamerTag, streamerId);
            }
          })
          .catch(error => console.log(error));
      }
    },
    unfollow: function() {
      let streamerId = this.data[1];
      let gamerTag = this.data[0];
      Users.unfollowStreamer(gamerTag)
        .then(response => {
          if (response.status === 200) {
            this.followed = false;
            let newFollows = response.data.follows;
            store.commit("update_follows", newFollows);
          } else {
            this.unfollow(gamerTag, streamerId);
          }
        })
        .catch(error => console.log(error));
      // Ajax call and on success => change this.followed to false
    }
  }
};
</script>
<style></style>
