<template>
  <div class="game-select">
    <v-select :components=" {Deselect}" @input="getSelectedGame" label="name" @search="getGames" :options="games"></v-select>
  </div>
</template>
<script>
import Games from "../services/api/Games";
import VueSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    VueSelect
  },
  created() {
    this.$on('deselect',this.deselectGame);
  },
  props: {
    data: Array
  },
  data() {
    return {
      selectedCountry: null,
      games: [],
      loadingGames: false,
      Deselect: {
        render: (createElement) => {
          return createElement('span', {
            on: {
              click: ()=>{
                this.$emit('deselect',this);
              }
            }
          },'❌');
        }
      }
    };
  },
  methods: {
    getGames(query) {
      this.loadingGames = true;
      Games.getAllGames(query)
        .then(response => {
          if (response.length > 0) {
            this.loadingGames = false;
            this.games = response;
          } else {
            this.games = [];
          }
        })
        .catch(error => console.log(error));
    },
    getSelectedGame(game) {
      this.$emit("selected-game", game);
    },
    deselectGame() {
      this.$emit("selected-game", { id: null });
    }
  }
};
</script>
<style></style>
