<template> </template>

<script>
import Users from "../services/api/Users";

export default {
  name: "latest-streamers",
  created() {
    Users.getLatestStreamers()
      .then(users => {
        this.users = users;
      })
      .catch();
  },
  data() {
    this.users = [];
  }
};
</script>

<style lang="scss"></style>
