<template>
  <div class="padding-b-1-rem">
    <h3 class="text-center">Lastest Notifications</h3>
    <div class="text-center">
      <md-button
        id="root"
        @click="showNotifications = !showNotifications"
        class="md-simple center"
        >Show Notifications</md-button
      >
    </div>
    <transition name="slide">
      <div v-if="showNotifications" class="md-layout">
        <div class="md-layout-item md-size-66 mx-auto md-small-size-100">
          <div
            class="notification-card text-center md-layout-item md-card md-theme-default padding-t-1-rem"
            v-for="value in notificationData"
          >
            <p v-if="value.notification_type == 1">
              <span class="bold-text"><a :href="'/#/streamer-profile?name=' + value.gamer_tag">{{ value.gamer_tag }}</a></span> is going live
              at {{ value.stream_time | moment("DD/MM/YYYY") }}
              {{ value.stream_time | moment("H:mm:ss a") }} -
              {{ value.timezone }} time
              {{ value.game ? "playing " + value.game : "" }}
            </p>
            <p v-if="value.notification_type == 2">
              <span class="bold-text"
                ><a :href="'/#/streamer-profile?name=' + value.gamer_tag">{{
                  value.gamer_tag
                }}</a></span
              >
              updated their status.
            </p>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import store from "../../src/store";
export default {
  mounted() {
    if (this.$route.query.notifications === "true") {
      this.showNotifications = true;
      window.history.replaceState({}, document.title, "/#/follower-dashboard");
    }
  },
  data() {
    return {
      loadingNotifications: false,
      notificationData: store.state.notificationData,
      showNotifications: false
    };
  }
};
</script>
<style>
ul {
  cursor: pointer;
}
.md-card {
  margin: 10px 0 !important;
}
</style>
