<template>
  <div v-if="report">
    <modal>
      <template slot="header">
        <h4 class="modal-title">Report this profile</h4>
        <md-button
          class="md-simple md-just-icon md-round modal-default-button"
          v-if="report"
          @click="hideModal()"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <p v-if="showReportedMessage" class="red bold-text">
          {{ reportedMessage }}
        </p>
        <md-field>
          <div class="md-layout-item md-size-100 md-small-size-100">
            <multiselect
              v-model="selectedReason"
              track-by="name"
              label="name"
              placeholder="Select a reason"
              :options="reasons"
              :searchable="true"
              :allow-empty="false"
            >
            </multiselect>
          </div>
        </md-field>

        <md-field>
          <md-input v-model="message">
            <label>Reason for reporting this profile...</label>
          </md-input>
        </md-field>
      </template>

      <template slot="footer">
        <md-button @click="reportProfile" class="md-simple">Report</md-button>
        <md-button class="md-danger md-simple" @click="hideModal"
          >Close
        </md-button>
      </template>
    </modal>
  </div>
</template>
<script>
import { Modal } from "@/components";
import Multiselect from "vue-multiselect";
import Users from "../services/api/Users";

export default {
  name: "report-profile",
  props: {
    data: Array
  },
  components: {
    Modal,
    Multiselect
  },
  data() {
    return {
      userId: this.data[0],
      report: this.data[1],
      message: "",
      selectedReason: null,
      showReportedMessage: false,
      reportedMessage: "",
      reasons: [
        {
          id: 1,
          name: "pornographic material"
        },
        {
          id: 2,
          name: "profanity"
        }
      ]
    };
  },
  methods: {
    reportProfile: function() {
      let data = {
        message: this.message,
        reason: this.selectedReason.name,
        profile_id: this.userId
      };
      Users.reportProfile(data).then(response => {
        if (response.status === 200) {
          this.showReportedMessage = true;
          this.reportedMessage =
            "This profile has been reported. We will review and get back to you shortly!";
          this.activate(4000);
        } else {
          alert("An error has occured. Please try again or contact an admin on the contact page.")
        }
      });
    },
    hideModal: function() {
      this.report = false;
    },
    activate(ms) {
      setTimeout(() => (this.report = false), ms);
    }
  }
};
</script>
<style></style>
