<template>
  <div>
    <div class="md-card md-theme-default padding-b-1-rem">
      <h6 class="text-center bold-text">
        Update your status
      </h6>
      <md-button
        class="md-info classic-modal margin-r-1-rem"
        @click="streamUpdateModal = true"
        >Going Live Update</md-button
      >

      <md-button
        class="md-primary classic-modal"
        @click="streamerStatusUpdateModal = true"
        >Status Update</md-button
      >
    </div>
    <modal v-if="streamUpdateModal">
      <template slot="header">
        <h4 class="modal-title bold-text">Going Live Update</h4>
        <md-button
          v-on:click="streamUpdateModal = false"
          class="md-simple md-just-icon md-round modal-default-button"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <md-field class="md-form-group" slot="inputs">
          <md-icon>comment</md-icon>
          <label>Message (This is not a required field)</label>
          <md-input v-model="message"></md-input>
        </md-field>
        <label style="font-size: 12px;" class="bold-text" for="date-time-input"
          >Select a date and time for your stream:</label
        >
        <datetime
          id="date-time-input"
          type="datetime"
          v-model="selectedDateTime"
          input-class="md-input"
          :zone="currentTimezone"
          :format="{
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: '2-digit',
            timeZoneName: 'short'
          }"
          :phrases="{ ok: 'Continue', cancel: 'Exit' }"
          :hour-step="1"
          :minute-step="15"
          :week-start="7"
          use12-hour
          auto
        ></datetime>
        <div
          class="md-layout-item md-size-100 md-small-size-100 margin-t-1-rem"
        >
          <label style="font-size: 12px;" class="bold-text" for="games_played">
            Search and select game you will be playing
          </label>
          <game-select v-on:selected="getSelectedGameFromChild"></game-select>
        </div>
        <p
          style="font-size: 12px;"
          class="margin-t-1-rem bold-text"
          v-if="selectedGame !== null"
        >
          Selected game : {{ selectedGame.name }}
        </p>
        <md-button
          @click="showHelpLive = !showHelpLive"
          class="md-simple center"
          >Help</md-button
        >
        <p v-if="showHelpLive">
          This section is for when you would like to let your followers know you
          are going live at a certain time. This will send out a notification to
          all of your followers on Streamfind. N.B. - Please refrain from
          profanity, derogatory remarks or racism otherwise your account will be
          blocked!
        </p>
      </template>

      <template slot="footer">
        <md-button
          style="margin-right:1rem"
          @click="submitLiveFeedUpdate"
          class="md-success"
          >Submit</md-button
        >
        <md-button @click="streamUpdateModal = false" class="md-danger"
          >Close</md-button
        >
      </template>
    </modal>

    <modal v-if="streamerStatusUpdateModal">
      <template slot="header">
        <h4 class="modal-title bold-text">Streamer Status Update</h4>
        <md-button
          @click="streamerStatusUpdateModal = false"
          class="md-simple md-just-icon md-round modal-default-button"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <md-field>
          <md-input v-model="message"></md-input>
        </md-field>
        <md-button
          @click="showHelpStatus = !showHelpStatus"
          class="md-simple center"
          >Help</md-button
        >
        <p v-if="showHelpStatus">
          This section is to engage and broadcast an important message or just a
          general hello to all of your fans! N.B. - Please refrain from
          profanity, derogatory remarks or racism otherwise your account will be
          blocked!
        </p>
      </template>

      <template slot="footer">
        <md-button
          style="margin-right:1rem"
          @click="submitStatusUpdate"
          class="md-success"
          >Submit</md-button
        >
        <md-button @click="streamerStatusUpdateModal = false" class="md-danger"
          >Close</md-button
        >
      </template>
    </modal>
    <div v-if="statusUpdate">
      <success-with-message
        :message="'You have successfully updated your stream status!'"
      ></success-with-message>
    </div>
  </div>
</template>

<script>
import { Modal } from "@/components";
import SuccessWithMessage from "../components/SuccessWithMessage";
import { Datetime } from "vue-datetime";
import GameSelect from "../components/GameSelect";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import Notifications from "../components/Notifications";
import store from "../store";
const topicName = "status";

export default {
  props: ["handle"],
  components: {
    SuccessWithMessage,
    datetime: Datetime,
    Modal,
    GameSelect,
    Loading,
    Notifications
  },
  name: "status-update-modal",
  data() {
    return {
      currentTimeStamp:
        this.getCurrentDate() + " " + this.getCurrentTimeString(),
      message: "",
      messages: [],
      statusUpdate: false,
      selectedDateTime: null,
      currentTimezone: this.getCurrentTimeZone(),
      streamUpdateModal: false,
      streamerStatusUpdateModal: false,
      selectedGame: null,
      loading: true,
      fullPage: true,
      showHelpLive: false,
      showHelpStatus: false,
      feedOffset: 50,
      scrollEnded: false,
      userName: store.state.user.name
    };
  },
  methods: {
    getCurrentDate() {
      let today = new Date();
      return (
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate()
      );
    },
    getCurrentTimeString() {
      return new Date().toLocaleTimeString(undefined, {
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
      });
    },
    getCurrentTimeZone() {
      return Intl.DateTimeFormat().resolvedOptions().timeZone;
    },
    getSelectedGameFromChild(selectedGame) {
      this.selectedGame = selectedGame;
    },
    submitLiveFeedUpdate() {
      this.statusUpdate = true;
      let data = {
        message: this.message,
        timezone: this.getCurrentTimeZone(),
        datetime: this.selectedDateTime,
        stream_time: this.selectedDateTime,
        auth_token: store.state.token,
        notification_type: 1,
        image: this.selectedGame.image.medium_url,
        game: this.selectedGame.name,
        user: {
          profile_pic: store.state.user.profile_pic
        }
      };
      data.created_at =
        this.getCurrentDate() + " " + this.getCurrentTimeString();
      this.streamUpdateModal = false;
      this.$ws.$emitToServer(topicName, "live", data);
      this.message = "";
    },
    submitStatusUpdate() {
      this.statusUpdate = true;
      this.streamerStatusUpdateModal = false;
      let data = {
        message: this.message,
        timezone: this.getCurrentTimeZone(),
        auth_token: store.state.token,
        notification_type: 2,
        user: {
          profile_pic: store.state.user.profile_pic,
          gamer_tag: store.state.user.gamer_tag
        }
      };
      data.created_at =
        this.getCurrentDate() + " " + this.getCurrentTimeString();
      this.$ws.$emitToServer(topicName, "update", data);
      this.message = "";
    }
  }
};
</script>
