<template>
  <div style="margin-top:60px" id="app" class="wrapper">
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">
          <form>
            <div class="md-card md-theme-default margin-t-6-rem">
              <div class="md-card-header" data-background-color="purple">
                <h4 class="title margin-l-1-rem">Edit Profile</h4>
                <p class="category">Complete your profile</p>
              </div>

              <div
                v-if="updateRequest === true"
                class="md-layout alert alert-success"
              >
                <div class="md-layout-item">
                  <button
                    v-on:click="updateRequest = false"
                    type="button"
                    aria-hidden="true"
                    class="close"
                  >
                    <i class="md-icon md-icon-font md-theme-default">clear</i>
                  </button>
                  <div class="alert-icon">
                    <i class="md-icon md-icon-font md-theme-default">check</i>
                  </div>
                  <b v-if="successMessage !== ''">{{ successMessage }}</b>
                  <b v-if="successImageUpload !== ''">{{ successImageUpload }}</b>
                </div>
              </div>

              <div
                v-if="errorResponse === true"
                class="md-layout alert alert-danger md-size-100"
              >
                <div class="md-layout-item">
                  <button
                    v-on:click="errorResponse = false"
                    type="button"
                    aria-hidden="true"
                    class="close"
                  >
                    <i class="md-icon md-icon-font md-theme-default">clear</i>
                  </button>
                  <div class="alert-icon">
                    <i class="md-icon md-icon-font md-theme-default">check</i>
                  </div>
                  <b>{{ errorMessage }}</b>
                </div>
              </div>

              <div v-if="loading">
                <loading
                  :active.sync="loading"
                  :can-cancel="false"
                  :is-full-page="fullPage"
                  loader="dots"
                />
              </div>
              <div class="md-card-content md-layout">
                <div class="md-layout">
                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>headset_mic</md-icon>
                      <label>Username...</label>
                      <md-input v-model="user.username"></md-input>
                    </md-field>
                  </div>

                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>face</md-icon>
                      <label>First Name...</label>
                      <md-input v-model="user.name"></md-input>
                    </md-field>
                  </div>

                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>face</md-icon>
                      <label>Last Name...</label>
                      <md-input v-model="user.surname"></md-input>
                    </md-field>
                  </div>

                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>email</md-icon>
                      <label>Email...</label>
                      <md-input v-model="user.email"></md-input>
                    </md-field>
                  </div>

                  <div
                    v-if="currentUserType === 2"
                    class="md-layout-item md-size-50 md-small-size-100"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>movie</md-icon>
                      <label>Title e.g. Streamer...</label>
                      <md-input v-model="user.title"></md-input>
                    </md-field>
                  </div>

                  <div class="md-layout-item md-size-50 md-small-size-100">
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>headset_mic</md-icon>
                      <label>Gamer Tag...</label>
                      <md-input v-model="user.gamer_tag"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100"
                    v-if="currentUserType === 2"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>book</md-icon>
                      <label>Website URL...</label>
                      <md-input v-model="user.user_website"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100"
                    v-if="currentUserType === 2"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>book</md-icon>
                      <label>Facebook Name...</label>
                      <md-input v-model="user.facebook_name"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100"
                    v-if="currentUserType === 2"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>party_mode</md-icon>
                      <label>Instagram Name...</label>
                      <md-input v-model="user.instagram_name"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100"
                    v-if="currentUserType === 2"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>forum</md-icon>
                      <label
                        >Twitter Handle (Just your Twitter handle without the
                        @)...</label
                      >
                      <md-input v-model="user.twitter_name"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100"
                    v-if="currentUserType === 2"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>comment</md-icon>
                      <label>Twitch Name...</label>
                      <md-input v-model="user.twitch_name"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100"
                    v-if="currentUserType === 2"
                  >
                    <md-field class="md-form-group" slot="inputs">
                      <md-icon>subscriptions</md-icon>
                      <label>Youtube Name...</label>
                      <md-input v-model="user.youtube_name"></md-input>
                    </md-field>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100 margin-t-2-rem margin-b-1-rem"
                  >
                    <md-icon>image</md-icon>
                    <label class="profile-pic"
                      >Profile Pic...
                      <input
                        type="file"
                        accept="image/*"
                        @change="imageEvent($event)"
                        id="file-input"
                      />
                    </label>
                    <md-button @click.stop.prevent="updateImage()"
                        class="md-primary md-sm"
                    >Upload
                    </md-button>
                  </div>

                  <div
                    v-if="currentUserType == 2"
                    class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem margin-b-1-rem"
                  >
                    <md-icon>image</md-icon>
                    <label class="profile-pic"
                      >Banner Pic...
                      <input
                        type="file"
                        accept="image/*"
                        @change="bannerEvent($event)"
                      />
                      <md-button
                          @click.stop.prevent="updateBanner()"
                          class="md-primary md-sm"
                      >Upload
                      </md-button>
                    </label>
                  </div>

                  <div
                    class="md-layout-item md-size-100"
                    v-if="currentUserType === 2"
                  >
                    <div
                      class="md-field md-theme-default md-has-value md-has-textarea"
                      maxlength="500"
                    >
                      <label for="short_desc">Short Description </label>
                      <textarea
                        id="short_desc"
                        v-model="user.short_desc"
                        class="md-textarea"
                      ></textarea>
                    </div>
                  </div>

                  <div
                    class="md-layout-item md-size-100"
                    v-if="currentUserType === 2"
                  >
                    <div
                      class="md-field md-theme-default md-has-value md-has-textarea"
                      maxlength="500"
                    >
                      <label for="bio">About Me</label>
                      <textarea
                        id="bio"
                        v-model="user.bio"
                        class="md-textarea"
                      ></textarea>
                    </div>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
                  >
                    <label class="typo__label">Games you play</label>
                    <multiselect
                      id="games_played"
                      @search-change="getGames"
                      v-model="selectedGames"
                      :options="games"
                      :loading="loadingGames"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="true"
                      placeholder="Type your game name here"
                      label="name"
                      track-by="name"
                      test="hello"
                    >
                    </multiselect>
                  </div>

                  <div
                    v-if="currentUserType === 2"
                    class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
                  >
                    <div>
                      <label class="typo__label"
                        >Preferred streaming platform (Select the platform you
                        want to show on your profile.) :
                      </label>
                      <multiselect
                        id="stream_platform"
                        v-model="stream_platform"
                        deselect-label="Can't remove this value"
                        track-by="name"
                        label="name"
                        placeholder="Select one"
                        :options="streamingPlatforms"
                        :searchable="false"
                        :allow-empty="false"
                      >
                        <template slot="singleLabel" slot-scope="{ option }"
                          ><strong>{{ option.name }}</strong></template
                        >
                      </multiselect>
                      <pre class="language-json"><code>{{ value }}</code></pre>
                    </div>
                  </div>
                  <!--Countries List-->
                  <!--                  <div-->
                  <!--                    class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"-->
                  <!--                  >-->
                  <!--                    <label class="typo__label"-->
                  <!--                      >Select your country (we will recommend streamers to-->
                  <!--                      follow based on this):-->
                  <!--                    </label>-->
                  <!--                    <multiselect-->
                  <!--                      v-model="selectedCountry"-->
                  <!--                      track-by="name"-->
                  <!--                      label="name"-->
                  <!--                      placeholder="Select a country"-->
                  <!--                      :options="codes"-->
                  <!--                      :searchable="true"-->
                  <!--                      :allow-empty="false"-->
                  <!--                    >-->
                  <!--                    </multiselect>-->
                  <!--                  </div>-->

                  <div
                    v-if="currentUserType === 2"
                    class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
                  >
                    <div>
                      <label class="typo__label"
                        >Show/Hide Profile (This will hide your profile from
                        other users.)</label
                      >
                      <multiselect
                        v-model="showHideProfile"
                        :options="hideShowOptions"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                      ></multiselect>
                      <pre class="language-json"><code>{{ value  }}</code></pre>
                    </div>
                  </div>

                  <div
                    class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"
                  >
                    <label class="typo__label"
                      >Gaming platforms you play on</label
                    >
                    <multiselect
                      id="gaming_platforms"
                      v-model="selectedGamingPlatforms"
                      :options="gamingPlatforms"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="true"
                      placeholder="Type your gaming platform name here"
                      label="name"
                      track-by="name"
                    >
                    </multiselect>
                  </div>

                  <!--                  <div class="md-layout">-->
                  <!--                    <div-->
                  <!--                      class="md-layout-item md-size-50 md-small-size-100 margin-t-1-rem"-->
                  <!--                    >-->
                  <!--                      <div :class="'row' + 1">-->
                  <!--                        <label class="typo__label">Days you stream</label>-->
                  <!--                        <div-->
                  <!--                          class="inputArea"-->
                  <!--                          v-for="input in inputs"-->
                  <!--                          :key="input.id"-->
                  <!--                        >-->
                  <!--                          <multiselect-->
                  <!--                            id="calendar"-->
                  <!--                            class="md-size-40"-->
                  <!--                            v-model="selectedDays"-->
                  <!--                            :options="streamDays"-->
                  <!--                            :multiple="true"-->
                  <!--                            :close-on-select="false"-->
                  <!--                            :clear-on-select="true"-->
                  <!--                            placeholder="Day"-->
                  <!--                            label="name"-->
                  <!--                            track-by="name"-->
                  <!--                          >-->
                  <!--                          </multiselect>-->
                  <!--                        </div>-->
                  <!--                        <div class="md-layout-item">-->
                  <!--                          <vue-timepicker-->
                  <!--                            :id="'timePicker-' + counter"-->
                  <!--                          ></vue-timepicker>-->
                  <!--                        </div>-->
                  <!--                      </div>-->
                  <!--                    </div>-->
                  <!--                  </div>-->

<!--                  <div id="days_select" class="md-layout" style="margin-left:2px;">-->
<!--                    <div class="md-layout-item md-size-50">-->
<!--                      <div-->
<!--                        v-for="input in inputs"-->
<!--                        :key="input.id"-->
<!--                        class="md-layout"-->
<!--                        :id="'row_' + counter"-->
<!--                      >-->
<!--                        <div class="md-layout-item md-size-40">-->
<!--                          <multiselect-->
<!--                            :id="'day-' + counter"-->
<!--                            class="md-size-40"-->
<!--                            v-model="selectedDays"-->
<!--                            :options="streamDays"-->
<!--                            :multiple="true"-->
<!--                            :close-on-select="false"-->
<!--                            :clear-on-select="true"-->
<!--                            placeholder="Day"-->
<!--                            label="name"-->
<!--                            track-by="name"-->
<!--                          >-->
<!--                          </multiselect>-->
<!--                        </div>-->
<!--                        <div class="md-layout-item md-size-30">-->
<!--                          <vue-timepicker-->
<!--                            :id="'timePicker-' + counter"-->
<!--                          ></vue-timepicker>-->
<!--                        </div>-->
<!--                        <div class="md-layout-item md-size-30">-->
<!--                          <md-button-->
<!--                            @click.stop.prevent="removeInput(counter)"-->
<!--                            slot="footer"-->
<!--                            class="md-simple md-success md-lg"-->
<!--                            >Remove Day-->
<!--                          </md-button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="md-layout-item md-size-50"></div>-->
<!--                    <md-button-->
<!--                      @click.stop.prevent="addInput()"-->
<!--                      slot="footer"-->
<!--                      class="md-simple md-success md-lg"-->
<!--                      >Add Day-->
<!--                    </md-button>-->
<!--                  </div>-->

                  <div class="md-layout-item md-size-100 text-right">
                    <md-button
                      @click.stop.prevent="updateProfile()"
                      slot="footer"
                      class="md-simple md-success md-lg"
                      >Update Profile
                    </md-button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import "es6-promise/auto";
import Vuex from "vuex";
import store from "../../store";
import Users from "../../services/api/Users";
import Games from "../../services/api/Games";
import { Sketch } from "vue-color";
import Multiselect from "vue-multiselect";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import router from "../../router";
import { odinUrl } from "../../main";
import axios from "axios";
import Countries from "../../services/local/Countries";
import countryRegionData from "country-region-data";
import VueTimepicker from "vue2-timepicker/src/vue-timepicker.vue";

Vue.use(Vuex);

export default {
  components: {
    "sketch-picker": Sketch,
    Multiselect,
    Loading,
    Countries,
    VueTimepicker
  },
  created: function() {
    if (store.state.token !== "" && store.state.status === "success") {
      this.getUser();
      this.loading = false;
    } else {
      this.loading = false;
      router.push({
        name: "/login"
      });
    }
  },
  data() {
    return {
      selectedCountry: null,
      countryRegionData: countryRegionData,
      codes: this.getCountries(countryRegionData),
      errorResponse: false,
      loading: true,
      editKey: 20,
      user: [],
      name: null,
      username: null,
      surname: null,
      email: null,
      profile_pic: null,
      newImage: null,
      updateRequest: false,
      successMessage: "",
      successImageUpload: "Image upload successful!",
      mainColour: null,
      main: false,
      secondColour: false,
      value: null,
      games: [],
      selectedGames: [],
      updatedImage: null,
      bannerUpdatedImage: null,
      gamer_tag: null,
      user_website: null,
      title: null,
      userProfilePic: null,
      errorMessage:
        "An error has occured. Please reload the page and try again.",
      isLoading: false,
      fullPage: true,
      stream_platform: null,
      streamingPlatforms: [
        { id: 1, name: "Twitch" },
        { id: 3, name: "Youtube" }
      ],
      hideShowOptions: ["Hide", "Show"],
      keyup: null,
      loadingGames: false,
      showHideProfile: false,
      currentUserType: store.state.user.user_type,
      // gamingPlatforms: this.convertToPlatformsArray(
      //   store.state.gamingPlatforms
      // ),
      gamingPlatforms: [
        { id: 1, name: "Mobile" },
        { id: 2, name: "Playstation" },
        { id: 3, name: "PC" },
        { id: 4, name: "Nintendo" },
        { id: 5, name: "Xbox" }
      ],
      selectedGamingPlatforms: [],
      streamDays: [
        { id: 1, name: "Monday" },
        { id: 2, name: "Tuesday" },
        { id: 3, name: "Wednesday" },
        { id: 4, name: "Thursday" },
        { id: 5, name: "Friday" },
        { id: 6, name: "Saturday" },
        { id: 7, name: "Sunday" }
      ],
      selectedDays: [],
      inputs: [
        {
          id: "fruit0",
          label: "Enter Fruit Name",
          value: ""
        }
      ],
      counter: 0
    };
  },
  methods: {
    getCountries() {
      return Countries.buildCountriesData(countryRegionData);
    },
    getUser() {
      Users.getUserByToken()
        .then(response => {
          if (response) {
            this.image = this.updatedImage;
            this.user = response.data.user;
            this.selectedCountry = {
              id: this.user.country_code,
              name: Countries.getCountryNameByCode(this.user.country_code)
            };
            this.selectedGames = response.data.games;
            this.selectedGamingPlatforms = this.convertToPlatformsArray(
              response.data.gaming_platforms
            );
            if (this.user.stream_platform === 1) {
              this.stream_platform = { id: 1, name: "Twitch" };
            } else {
              this.stream_platform = { id: 3, name: "Youtube" };
            }
            if (this.user.hide_profile === 0) {
              this.showHideProfile = "Show";
            } else {
              this.showHideProfile = "Hide";
            }
          } else {
            this.user = store.state.user;
            this.stream_platform = store.state.user.stream_platform;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    updateProfile() {
      this.loading = true;
      let data = {};
      this.stream_platform = this.stream_platform ? this.stream_platform : null;
      this.games = this.selectedGames ? this.selectedGames : null;
      data.user = {...this.user};
      data.user.country_code = this.selectedCountry.id;
      data.user_data = {
        stream_platform: this.stream_platform,
        games: this.games
      };
      data.select_gaming_platforms = this.selectedGamingPlatforms;
      data.user.hide_profile = this.showHideProfile === "Hide";
      this.updateUser(data);
    },
    async updateImage() {
      this.updateRequest = false;
      this.successMessage = ""
      this.loading = true;
      const URL = odinUrl + "/api/v1/user-image-upload"
      let data = new FormData()
      data.append("id", this.user.id)
      data.append("image", this.updatedImage)
      data.append("type", "profile_pic")
      let config = {
        header: {
          "Content-Type": this.updatedImage.type,
          "Application Type": "application/json",
          "X-Requested-With": "XMLHttpRequest"
        }
      };
      axios
        .post(URL, data, config)
        .then(response => {
          // data.user.user.profile_pic = response.data.image;
          this.successImageUpload = "Image upload successful!"
          this.updateRequest = true;
          document.body.scrollTop = document.documentElement.scrollTop = 0;
        })
        .catch(error => {
          console.log(error)
          if (error) {
            this.errorResponse = true;
            console.log(error)
            document.body.scrollTop = document.documentElement.scrollTop = 0;
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    async updateBanner() {
      this.updateRequest = false;
      this.successMessage = ""
      this.isLoading = true;
      const URL = odinUrl + "/api/v1/user-image-upload";
      let data = new FormData();
      data.append("id", this.user.id);
      data.append("image", this.bannerUpdatedImage);
      data.append("type", "banner");
      let config = {
        header: {
          "Content-Type": this.bannerUpdatedImage.type,
          "Application Type": "application/json",
          "X-Requested-With": "XMLHttpRequest"
        }
      };
      axios
          .post(URL, data, config)
          .then(response => {
            // data.user.user.banner = response.data.image;
            this.updateRequest = true;
            this.successImageUpload = "Banner upload successful!"
            document.body.scrollTop = document.documentElement.scrollTop = 0;
          })
          .catch(error => {
            if (error) {
              this.errorResponse = true;
              document.body.scrollTop = document.documentElement.scrollTop = 0;
            }
          })
          .finally(() => {
            this.isLoading = false;
          });
    },
    updateUser: function(data) {
      Users.updateUser(data)
        .then(response => {
          if (response.status === 422) {
            this.updateRequest = false;
            let errorMessage = response.data.message;
            let errorField = errorMessage.replace(
              "required validation failed on ",
              ""
            );
            this.errorResponse = true;
            this.errorMessage =
              errorField.replace("_", " ") + " is a required field ";
            this.loading = false;
            document.body.scrollTop = document.documentElement.scrollTop = 0;
          }
          if (response.status === 200) {
            if (this.errorResponse) {
              this.errorResponse = false;
            }
            store.commit("auth_update", response.data.user);
            document.body.scrollTop = document.documentElement.scrollTop = 0;
            this.updateRequest = true;
            this.successMessage = "You have successfully updated your profile!"
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    imageEvent: function(event) {
      this.updatedImage = event.target.files[0]
    },
    bannerEvent: function(event) {
      this.bannerUpdatedImage = event.target.files[0]
    },
    getGames(query) {
      this.loadingGames = true;
      Games.getAllGames(query).then(response => {
        if (response.length > 0) {
          this.loadingGames = false;
          this.games = response;
        } else {
          this.games = [];
        }
      });
    },
    convertToPlatformsArray(data) {
      let gamingPlatforms = JSON.parse(JSON.stringify(data));
      return Object.values(gamingPlatforms);
    },
    addInput() {
      if (this.counter === 6) {
        alert("No more allowed");
      } else {
        this.inputs.push({
          id: `fruit${++this.counter}`,
          label: "Enter Fruit Name",
          value: ""
        });
      }
    },
    removeInput(index) {
      this.inputs.splice(index, 1);
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
.md-app {
  min-height: 350px;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.profile-pic {
  padding: 10px;
}

html.md-theme-default {
  margin-top: -3px;
}
.section {
  padding: 8rem 0;
}
</style>
