<template>
  <div id="app" class="wrapper">
    <div class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <p class="text-center bold-text padding-t-1-rem">
        Welcome to your dashboard {{ user.name }}
      </p>
      <p class="text-center">
        Here you will be able to manage the streamers you are following and see
        the latest news from StreamFind and other streamers!
      </p>
      <h4 v-if="following <= 0" class="text-center padding-t-1-rem">
        Click here to find some streamers to follow.
      </h4>
      <h4 v-if="following > 0" class="text-center padding-t-1-rem">
        Streamers you are following
      </h4>
      <h4 v-if="!following" class="text-center padding-t-1-rem">
        <a href="/#/streamers"
          >Click here to search for some streamers to follow</a
        >
      </h4>
      <div class="md-layout text-center md-alignment-center" v-if="following">
        <div
          v-for="value in following"
          class="md-layout-item md-size-15 md-small-size-100"
        >
          <div class="md-card-content">
            <div
              class="md-tabs md-primary md-alignment-center md-theme-default"
            >
              <div class="md-content md-tabs-content md-theme-default">
                <div class="md-content md-tabs-content md-theme-default">
                  <a :href="'/#/streamer-profile?name=' + value.streamer_name">
                    <img
                      v-if="value.streamer_pic"
                      style="width:100px;"
                      :src="odinUrl + value.streamer_pic"
                      alt="Circle Image"
                      class="rounded-circle img-fluid md-alignment-center"
                    />
                    <img
                      v-else
                      style="width:120px;"
                      src="/base/placeholder.jpg"
                      alt="Circle Image"
                      class="rounded-circle img-fluid md-alignment-center"
                    />
                  </a>
                </div>
                <h5>
                  <a
                    :href="'/#/streamer-profile?name=' + value.streamer_name"
                    >{{ value.streamer_name }}</a
                  >
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <notifications></notifications>
    </div>
  </div>
</template>

<script>
import store from "../../store";
import Users from "../../services/api/Users";
import { odinUrl } from "../../main";
import Notifications from "../../components/Notifications";

export default {
  bodyClass: "profile-page",
  components: {
    Notifications
  },
  created() {
    if (store.state.status === "success") {
      this.getTheUser();
    } else {
      this.$router.push("/login");
    }
  },
  data() {
    return {
      loading: true,
      odinUrl: odinUrl,
      user: [],
      views: 0,
      componentKey: 0,
      following: [],
      notificationData: null,
      tabPane1: [
        { image: require("@/assets/img/examples/studio-1.jpg") },
        { image: require("@/assets/img/examples/studio-2.jpg") },
        { image: require("@/assets/img/examples/studio-4.jpg") },
        { image: require("@/assets/img/examples/studio-5.jpg") }
      ],
      tabPane2: [
        { image: require("@/assets/img/examples/olu-eletu.jpg") },
        { image: require("@/assets/img/examples/clem-onojeghuo.jpg") },
        { image: require("@/assets/img/examples/cynthia-del-rio.jpg") },
        { image: require("@/assets/img/examples/mariya-georgieva.jpg") },
        { image: require("@/assets/img/examples/clem-onojegaw.jpg") }
      ],
      tabPane3: [
        { image: require("@/assets/img/examples/mariya-georgieva.jpg") },
        { image: require("@/assets/img/examples/studio-3.jpg") },
        { image: require("@/assets/img/examples/clem-onojeghuo.jpg") },
        { image: require("@/assets/img/examples/olu-eletu.jpg") },
        { image: require("@/assets/img/examples/studio-1.jpg") }
      ]
    };
  },
  methods: {
    getTheUser() {
      this.user.banner = "@/assets/img/city-profile.jpg";
      if (store.state.status !== "success") {
        this.$router.push("/login");
      }
      Users.getUserDash()
        .then(response => {
          this.user = response.data.user;
          this.views = response.data.views;
          this.following = response.data.follows;
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/city-profile.jpg")
    },
    img: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    }
  },
  computed: {
    profilePic() {
      if (this.user.profile_pic) {
        return odinUrl + this.user.profile_pic;
      } else {
        return "/base/placeholder.jpg";
      }
    },
    headerStyle() {
      let banner = "@assets/img/bg_gradient1.jpg";
      banner = require("@/assets/img/bg_gradient1.jpg");
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs {
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }

  .iframe-container {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .description p {
    font-size: 25px !important;
    font-weight: bold !important;
  }

  .md-card.md-theme-demo-light.md-primary,
  .md-card.md-theme-demo-light.md-primary .md-card-expand .md-card-actions {
    background-color: #448aff;
    background-color: var(--md-theme-demo-light-primary, #448aff);
  }

  .bold-numbers p {
    font-size: 20px;
    font-weight: bold;
  }
}
</style>
