<template>
  <div id="app" class="wrapper">
    <loading :active.sync="loading" :can-cancel="true"></loading>
    <div class="banner-wrap">
      <img class="banner-image" :src="banner" />
    </div>
    <div class="main main-raised main-raised-profile">
      <div class="section profile-content">
        <div class="container">
          <div class="md-layout">
            <div class="md-layout-item mx-auto">
              <div class="profile">
                <div class="avatar">
                  <img
                    v-if="user.profile_pic"
                    :src="user.profile_pic"
                    alt="Circle Image"
                    class="img-raised rounded-circle img-fluid"
                  />
                  <img
                    v-else
                    src="/base/placeholder.jpg"
                    alt="Circle Image"
                    class="img-raised rounded-circle img-fluid"
                  />
                </div>
                <div v-if="showError">
                  <error-with-message :message="message"></error-with-message>
                </div>
                <div v-if="user.length !== 0" class="name">
                  <h3 class="bold-text">{{ user.gamer_tag }}</h3>
                  <div class="margin-t-1-rem">
                    <!--                    <follow-button-->
                    <!--                      v-if="user.id !== currentUser"-->
                    <!--                      v-bind:data="[user.gamer_tag, currentStreamer]"-->
                    <!--                    ></follow-button>-->
                    <div
                      v-if="loggedIn !== '' && currentUser !== user.id"
                      class="md-ripple margin-t-1-rem"
                    >
                      <div
                        @click="showReport()"
                        class="md-button-content report-button"
                      >
                        Report profile
                      </div>
                    </div>
                    <report-profile
                      v-if="report"
                      v-bind:data="[user.id, report]"
                    ></report-profile>
                  </div>
                  <h6 class="margin-t-1-rem">
                    {{ getCountryName(user.country_code) }}
                  </h6>

                  <md-button
                    v-if="user.instagram_name"
                    :href="'https://www.instagram.com/' + user.instagram_name"
                    class="md-just-icon md-simple md-instagram"
                    ><i class="fab fa-instagram"></i
                  ></md-button>
                  <md-button
                    v-if="user.twitter_name"
                    :href="'https://twitter.com/' + user.twitter_name"
                    class="md-just-icon md-simple md-twitter"
                    ><i class="fab fa-twitter"></i
                  ></md-button>
                  <md-button
                    v-if="user.user_website"
                    :href="user.user_website"
                    class="md-just-icon md-simple md-twitter"
                    ><i class="fa fa-link"></i
                  ></md-button>
                  <md-button
                    v-if="user.facebook_name"
                    :href="'https://www.facebook.com/' + user.facebook_name"
                    class="md-just-icon md-simple md-instagram"
                    ><i class="fab fa-facebook"></i
                  ></md-button>
                </div>
              </div>
            </div>
          </div>
          <div class="description text-center">
            <p>{{ user.short_desc }}</p>
          </div>
          <div class="profile-tabs">
            <tabs
              :tab-name="tabs"
              :tab-icon="tabIcons"
              plain
              nav-pills-icons
              color-button="success"
            >
              <template slot="tab-pane-1">
                <div class="md-layout margin-l-1-rem margin-r-1-rem">
                  <div v-html="user.bio"></div>
                </div>
              </template>
              <template slot="tab-pane-2">
                <div class="md-layout">
                  <div
                    class="md-layout-item md-size-20 md-small-size-50 text-center"
                    v-for="game in userGames"
                  >
                    <img :src="game.image" v-bind:alt="game.name" />
                  </div>
                </div>
              </template>
              <template slot="tab-pane-3">
                <div class="md-layout">
                  <div class="md-layout-item md-size-100 ml-auto">
                    <div class="iframe-container">
                      <div v-if="user.stream_platform === 1">
                        <vue-twitch-player
                          :channel="user.twitch_name"
                        ></vue-twitch-player>
                      </div>

                      <div v-if="user.stream_platform === 3">
                        <div v-if="user.youtube_name">
                          <iframe
                            :src="
                              'https://www.youtube.com/embed/?listType=user_uploads&list=' +
                                user.youtube_name
                            "
                            width="480"
                            height="400"
                          ></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Tabs } from "@/components";
import CubeSpin from "vue-loading-spinner/src/components/Diamond";
import user from "../../services/api/Users";
import Countries from "../../services/local/Countries";
import Loading from "vue-loading-overlay";
import store from "../../store";
import FollowButton from "../../components/FollowButton";
import ErrorWithMessage from "../../components/ErrorWithMessage";
import ReportProfile from "../../components/ReportProfile";
import VueTwitchPlayer from "vue-twitch-player";

export default {
  components: {
    Tabs,
    CubeSpin,
    Loading,
    FollowButton,
    ErrorWithMessage,
    ReportProfile,
    VueTwitchPlayer
  },
  data() {
    return {
      report: false,
      loading: true,
      user: [],
      userGames: [],
      currentStreamer: null,
      loggedIn: store.state.status,
      currentUser: store.state.user.id,
      follows: store.state.follows ? store.state.follows : [],
      showError: false,
      message: "",
      banner: require("@/assets/img/default-eax.jpg"),
      ipAddress: null,
      tabs: ["Bio", "Games I Play", "Streams"],
      tabIcons: ['camera', 'palette', 'favorite']
    };
  },
  watch: {
    $route() {
      location.reload();
    }
  },
  bodyClass: "profile-page",
  created() {
    if (store.state.status === "") {
      this.currentUser = null;
    }
  },
  mounted() {
    this.getUserProfile();
  },
  methods: {
    getCountryName(code) {
      return Countries.getCountryNameByCode(code);
    },
    showReport() {
      this.report = true;
    },
    async getUserProfile() {
      user
        .getUser(this.$route.query.name, this.currentUser)
        .then(response => {
          if (typeof response !== "undefined" && response.status === 200) {
            this.user = response.data.user;
            this.currentStreamer = this.user.id;
            if (this.user.banner !== null) {
              this.banner = this.user.banner;
            }
            this.userGames = response.data.games;
          } else {
            this.user = [];
            this.showError = true;
            this.message =
              "Something has gone wrong. Please refresh the page, login again or contact us!";
            this.loading = false;
          }
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  props: {
    img: {
      type: String,
      default: require("@/assets/img/default-eax.jpg")
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs ::v-deep {
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
}
.report-button {
  font-size: 0.8em;
  cursor: pointer;
}
.profile-page .profile img {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
</style>
