<template>
  <div id="app" class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <!--Streamer update modal-->
      <h4 class="text-center bold-text padding-t-1-rem">
        Welcome to your dashboard {{ user.name }}
      </h4>
      <p class="text-center">
        Here you will be able to manage the streamers you are following, check the people following you and update your status.
      </p>
<!--      <div-->
<!--        class="md-layout-item md-size-60 md-medium-size-60 md-small-size-60 md-xsmall-size-100 mx-auto text-center"-->
<!--      >-->
<!--        <status-update-modal></status-update-modal>-->
<!--      </div>-->
      <div class="md-layout-item md-size-100 margin-t-3-rem">
        <nav-tabs-card
          v-if="followers.length > 0 || following.length > 0"
          no-label
        >
          <template slot="content">
            <md-tabs md-sync-route class="md-primary" md-alignment="left">
              <md-tab
                id="tab-home"
                :md-label="
                  'people following you ' + '(' + followers.length + ')'
                "
                md-icon="face"
              >
                <div
                  class="margin-t-1-rem md-layout text-center md-alignment-center"
                  id="v-for-object"
                >
                  <div
                    v-for="value in followers"
                    class="md-layout-item md-size-15 md-medium-size-50 md-small-size-50 md-xsmall-size-50"
                  >
                    <div
                      class="md-tabs md-primary md-alignment-center md-theme-default"
                    >
                      <div class="md-content md-tabs-content md-theme-default">
                        <img
                          v-if="value.profile_pic"
                          style="width:65px;"
                          :src="odinUrl + value.profile_pic"
                          alt="Circle Image"
                          class="rounded-circle img-fluid md-alignment-center"
                        />
                        <img
                          v-else
                          style="width:60px;"
                          src="/base/placeholder.jpg"
                          alt="Circle Image"
                          class="rounded-circle img-fluid md-alignment-center"
                        />
                        <p class="bold-text margin-t-1-rem">
                          {{ value.name + " " + value.surname }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </md-tab>

              <md-tab
                id="tab-pages"
                :md-label="
                  'Streamers you follow ' + '(' + following.length + ')'
                "
                md-icon="video_call"
              >
                <div
                  class="md-layout text-center md-alignment-center"
                  v-if="following && following.length > 0"
                >
                  <div
                    v-for="value in following"
                    class="md-layout-item md-size-15 md-small-size-100"
                  >
                    <div class="md-card-content">
                      <div
                        class="md-tabs md-primary md-alignment-center md-theme-default"
                      >
                        <div
                          class="md-content md-tabs-content md-theme-default"
                        >
                          <div
                            class="md-content md-tabs-content md-theme-default"
                          >
                            <img
                              v-if="value.streamer_pic"
                              style="width:100px;"
                              :src="odinUrl + value.streamer_pic"
                              alt="Circle Image"
                              class="rounded-circle img-fluid md-alignment-center"
                            />
                            <img
                              v-else
                              style="width:120px;"
                              src="/base/placeholder.jpg"
                              alt="Circle Image"
                              class="rounded-circle img-fluid md-alignment-center"
                            />
                            <h6>
                              <a
                                :href="
                                  '/#/streamer-profile?name=' +
                                    value.streamer_name
                                "
                                >{{ value.streamer_name }}</a
                              >
                            </h6>
                          </div>
                        </div>
                      </div>
                      <follow-button
                        v-if="value.id !== null"
                        v-bind:data="[value.streamer_name, value.id]"
                      ></follow-button>
                    </div>
                  </div>
                </div>
              </md-tab>
            </md-tabs>
          </template>
        </nav-tabs-card>
        <br />
        <notifications></notifications>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store";
import Users from "../../services/api/Users";
import { odinUrl } from "../../main";
import { NavTabsCard } from "@/components";
import FollowButton from "../../components/FollowButton";
import router from "../../router";
import Notifications from "../../components/Notifications";
import StatusUpdateModal from "../../components/StatusUpdateModal";

export default {
  bodyClass: "profile-page",
  components: {
    NavTabsCard,
    FollowButton,
    Notifications,
    StatusUpdateModal
  },
  beforeCreate() {
    if (store.state.user.user_type === 3) {
      router.push({ path: "/follower-dashboard" });
    }
  },
  created() {
    this.getTheUser();
  },
  data() {
    return {
      loading: true,
      currentUser: store.state.user.id,
      odinUrl: odinUrl,
      user: [],
      componentKey: 0,
      following: [],
      followers: [],
      peopleFollowingYou: "",
      tabPane1: [
        { image: require("@/assets/img/examples/studio-1.jpg") },
        { image: require("@/assets/img/examples/studio-2.jpg") },
        { image: require("@/assets/img/examples/studio-4.jpg") },
        { image: require("@/assets/img/examples/studio-5.jpg") }
      ],
      tabPane2: [
        { image: require("@/assets/img/examples/olu-eletu.jpg") },
        { image: require("@/assets/img/examples/clem-onojeghuo.jpg") },
        { image: require("@/assets/img/examples/cynthia-del-rio.jpg") },
        { image: require("@/assets/img/examples/mariya-georgieva.jpg") },
        { image: require("@/assets/img/examples/clem-onojegaw.jpg") }
      ],
      tabPane3: [
        { image: require("@/assets/img/examples/mariya-georgieva.jpg") },
        { image: require("@/assets/img/examples/studio-3.jpg") },
        { image: require("@/assets/img/examples/clem-onojeghuo.jpg") },
        { image: require("@/assets/img/examples/olu-eletu.jpg") },
        { image: require("@/assets/img/examples/studio-1.jpg") }
      ]
    };
  },
  methods: {
    getTheUser() {
      Users.getUserDash(store.state.user.id)
        .then(response => {
          if (response.status === 200) {
            this.user = response.data.user;
            this.following = response.data.follows;
            this.followers = response.data.followers;
          }
        })
        .catch(error => console.log(error))
        .finally(() => {
          this.loading = false;
        });
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/city-profile.jpg")
    },
    img: {
      type: String,
      default: require("@/assets/img/faces/christian.jpg")
    }
  },
  computed: {
    profilePic() {
      if (this.user.profile_pic) {
        return odinUrl + this.user.profile_pic;
      } else {
        return "/base/placeholder.jpg";
      }
    },
    headerStyle() {
      let banner = require("@/assets/img/mosaicalien.jpg");
      if (this.user.banner !== null) {
        banner = odinUrl + this.user.banner;
      }
      return {
        backgroundImage: "url(" + banner + ")"
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs {
  .md-card-tabs .md-list {
    justify-content: center;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }

  .iframe-container {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .description p {
    font-size: 25px !important;
    font-weight: bold !important;
  }

  .md-card.md-theme-demo-light.md-primary,
  .md-card.md-theme-demo-light.md-primary .md-card-expand .md-card-actions {
    background-color: #448aff;
    background-color: var(--md-theme-demo-light-primary, #448aff);
  }

  .bold-numbers p {
    font-size: 20px;
    font-weight: bold;
  }

  .md-card .md-card-content {
    padding: 0.8rem 0.3rem 0.3rem 0.3rem;
    line-height: inherit;
  }
}
</style>
