/*Spacing*/

h1, h2, h3, h4, h5, h6 {
    display: block;
    width:100%;
    font-weight: bold;
}

.margin-t-1-rem {
    margin-top: 1rem;
}

.margin-t-2-rem {
    margin-top: 2rem !important;
}

.margin-t-3-rem {
    margin-top: 3rem !important;
}

.margin-t-4-rem {
    margin-top: 4rem;
}

.margin-t-5-rem {
    margin-top: 5rem;
}

.margin-t-6-rem {
    margin-top: 6rem;
}

.margin-t-7-rem {
    margin-top: 7rem;
}

.margin-t-8-rem {
    margin-top: 8rem;
}

.margin-t-9-rem {
    margin-top: 9rem;
}

.margin-t-10-rem {
    margin-top: 10rem;
}

/*Margin Bottom*/
.margin-b-1-rem {
    margin-bottom: 1rem;
}
.margin-b-2-rem {
    margin-bottom: 2rem;
}
.margin-b-3-rem {
    margin-bottom: 3rem;
}
.margin-b-4-rem {
    margin-bottom: 4rem;
}
.margin-b-5-rem {
    margin-bottom: 5rem;
}
/*Margin Bottom End*/

/* Margin Left */

.margin-l-1-rem {
    margin-left: 1rem;
}
.margin-r-1-rem {
    margin-right: 1rem;
}

.margin-l-2-rem {
    margin-left: 2rem;
}
.margin-r-2-rem {
    margin-right: 2rem;
}

/* Margin Left End */

/* Padding All */

.padding-all-1-rem {
    padding:1rem;
}

.padding-all-2-rem {
    padding:2rem;
}

/* Padding Top */

.padding-t-1-rem {
    padding-top: 1rem;
}
.padding-t-2-rem {
    padding-top:2rem;
}

/* Padding Left */

.padding-l-1-rem {
    padding-left: 1rem;
}
.padding-l-2-rem {
    padding-left: 2rem;
}

/* Padding Right */
.padding-r-1-rem {
    padding-right: 1rem;
}

.padding-r-2-rem {
    padding-right: 2rem;
}

/* Padding Bottom */
.padding-b-1-rem {
    padding-bottom: 1rem;
}

.padding-b-2-rem {
    padding-bottom: 2rem;
}

.tim-row{
    margin-bottom: 20px;
}

.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.category {
    padding-left:15px;
}

#tooltips .md-button{
  margin-left: 6px;
}

#notifications .alert {
  border-radius: 0;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.tim-typo .tim-note{
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
#typography h1, #typography h2, #typography h3,
#typography h4, #typography h5, #typography h6{
    margin-bottom: 0;
}

.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}

.navigation-example{
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
#notifications .alert-danger{
    margin-bottom: 0px;
}
.tim-note{
    text-transform: capitalize;
}

#buttons .md-button{
    margin: 0 2px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .md-button{
    margin: 15px 4px 0;
    color: #FFFFFF;
}

#navbar{
    margin-bottom: -20px;
}

.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
    padding-bottom: 0;
}
#navigation .md-toolbar{
    border-radius: 0;
}

#navigation .md-dark,
#menu,
#menu .md-primary {
  z-index: 9999;
  position: relative;
}

.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 50px;
}
.section-examples h5{
    margin-top: 30px;
}
.leaf1,
.leaf3,
.leaf4,
.leaf2 {
  position: absolute;
  z-index: 9;
}
.leaf4 {
  right: 172px;
  top: -122px;
  width: 17%;
  width: 32%;
  transform: rotate(-83deg);
}
.leaf3 {
  top: 21px;
  right: -69px;
  left: auto;
  width: 24%;
  transform: rotate(-13deg);
}
.leaf2 {
  width: 25%;
  left: 170px;
  top: -28px;
  transform: rotate(90deg);
}
.leaf1 {
  transform: rotate(0deg);
  right: auto;
  top: 25px;
  width: 15%;
  left: -11px;
}
.text-white {
    color: #fff;
}
.profile-page .page-header {
    height: 100vh;
    background-position: center center;
}
.brand {
    text-align: center;
}
@media only screen and (max-width: 769px) {
    .profile-page .page-header {
        height: 50vh !important;
    }
    .index-page .page-header {
        height: 50vh !important;
    }
}

@media only screen and (max-width: 769px) {
    h1, .h1 {
        font-size: 2.3125rem;
        line-height: 1em;
    }
}

.alert.alert-success {
    background-color: #55b559;
    color: #FFFFFF;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(85, 181, 89, 0.6);
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(85, 181, 89, 0.6);
    margin-left: 1rem;
    margin-right: 1rem;
}
.index-page .page-header {
    height: 70vh;
    overflow: hidden;
}
.profile-page .page-header {
    height: 80vh;
    background-position: center center;
}
.md-field .md-input, .md-field .md-textarea {
    font-size: 12px !important;
}
input,
input::-webkit-input-placeholder {
    font-size: 12px;
}
.md-field.md-theme-default .md-helper-text, .md-field.md-theme-default .md-count, .md-field.md-theme-default label {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
}
@media (max-width: 768px) {
    .index-page .brand h1 {
        font-size: 3.3rem;
    }
    .index-page .brand h3 {
        max-width: 500px;
        line-height: normal;
        font-size: 1.5rem;
    }
    .brand h1 {
        font-size: 3.3rem;
    }
    .brand h3 {
        max-width: 500px;
        line-height: normal;
        font-size: 1.5rem;
    }
}

.md-card-tabs .md-list .md-list-item .md-list-item-button .md-list-item-content {
    min-height: auto;
    padding: 5px 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dropdown .dropdown-input {
    background: #fff;
    cursor: pointer;
    border: 1px solid #fff !important;
    border-radius: 0 !important;
    color: #333;
    display: block;
    font-size: .8em;
    padding: 6px;
    min-width: 100% !important;
    max-width: 100%;
    height:35px;
    width:100%;
}
.profile-page .profile-tabs {
    margin-top: 0;
}
.profile-heading {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    position: relative;
    line-height: 1.15em;
    text-shadow: 0 15px 102.86px rgba(0, 0, 0, 0.7), 0 15px 40.02px rgba(0, 0, 0, 0.21);
}
.banner-image {
    width:100%;
    height: auto;
}
@media (max-width: 3840px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        max-width:130px !important;
        margin-bottom:15px !important;
    }
}
@media (max-width: 1920px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        max-width:130px !important;
        margin-bottom:15px !important;
    }
}
@media (max-width: 1440px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        max-width:130px !important;
        margin-bottom:15px !important;
    }
}
@media (max-width: 1366px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        width:100px !important;
        margin-bottom:30px !important;
    }
    .main-raised-profile {
        margin: -20px 5px 0px !important;
    }
}
@media (max-width: 1024px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        width:100px !important;
        margin-bottom:30px !important;
    }
    .main-raised-profile {
        margin: -20px 5px 0px !important;
    }
}
@media (max-width: 768px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        width:100px !important;
        margin-bottom:30px !important;
    }
    .md-layout-item.md-small-size-60 {
        min-width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .main-raised-profile {
        margin: -20px 5px 0px !important;
    }
    .section {
        padding: 10px 0 !important;
    }
}
@media (max-width: 425px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        width:80px !important;
        margin-bottom:30px !important;
    }
    .created_at {
        font-size:12px !important;
    }
    p {
        font-size: 12px !important;
    }
    .main-raised-profile {
        margin: -20px 5px 0px !important;
    }
    .section {
        padding: 10px 0 !important;
    }
}
@media (max-width: 375px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        width:80px !important;
        margin-bottom:30px !important;
    }
    .created_at {
        font-size:12px !important;
    }
    p {
        font-size: 12px !important;
    }
    .main-raised-profile {
        margin: -20px 5px 0px !important;
    }
    .section {
        padding: 10px 0 !important;
    }
}
@media (max-width: 320px) {
    .banner-wrap {
        height:auto !important;
    }
    .profile-page .profile img {
        width:70px !important;
        margin-bottom:30px !important;
    }
    .container, .container-fluid {
        padding-right: 3px;
        padding-left: 3px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .main-raised {
        margin-left: 4px;
        margin-right: 4px;
    }
    .created_at {
        font-size:12px !important;
    }
    p {
        font-size: 12px !important;
    }
    .main-raised-profile {
        margin: -20px 5px 0px !important;
    }
    .section {
        padding: 10px 0 !important;
    }
}

.banner-image {
    padding-top: 60px;
}
.banner-wrap {
    height:300px;
}
.created_at {
    margin-top: -1rem;
}
.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.login-header {
    padding: 110px 0;
}