<template>
  <div id="material-kit">
    <div :class="{ 'nav-open': NavbarStore.showNavbar }">
      <router-view name="header" />
      <div>
        <router-view />
      </div>
      <router-view name="footer" />
    </div>
  </div>
</template>

<script>
import store from "./store";
// import WsSubscriptions from "./WsSubscriptions";
export default {
  computed: {
    isLoggedIn() {
      return store.getters.isLoggedIn;
    }
  },
  // async created() {
  //   await WsSubscriptions();
  // },
  methods: {
    logout() {
      store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    }
  }
};
</script>
