<template>
  <div>
    <md-toolbar
      id="toolbar"
      md-elevation="0"
      class="md-white md-absolute"
      :class="extraNavClasses"
      :color-on-scroll="colorOnScroll"
      :key="'mainNav' + mainNavComp"
    >
      <div class="md-toolbar-row md-collapse-lateral">
        <div class="md-toolbar-section-start">
          <a href="/"><img src="@/assets/img/streamfindlogo.png"/></a>
        </div>
        <div class="md-toolbar-section-end">
          <md-button
            class="md-just-icon md-simple md-toolbar-toggle"
            :class="{ toggled: toggledClass }"
            @click="toggleNavbarMobile()"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </md-button>

          <div class="md-collapse">
            <div class="md-collapse-wrapper">
              <mobile-menu nav-mobile-section-start="false"> </mobile-menu>
              <md-list>
<!--                <md-list-item-->
<!--                  v-if="getState === true && getUserType === 'streamer'"-->
<!--                  :class="{ toggled: toggledClass }"-->
<!--                  @click="toggleNavbarMobile()"-->
<!--                  href="/#/dashboard"-->
<!--                >-->
<!--                  <i class="material-icons">dashboard</i>-->
<!--                  <p>Dashboard</p>-->
<!--                </md-list-item>-->

<!--                <md-list-item-->
<!--                  v-if="getState === true && getUserType === 'follower'"-->
<!--                  :class="{ toggled: toggledClass }"-->
<!--                  @click="toggleNavbarMobile()"-->
<!--                  href="/#/follower-dashboard"-->
<!--                >-->
<!--                  <i class="material-icons">dashboard</i>-->
<!--                  <p>Dashboard</p>-->
<!--                </md-list-item>-->

<!--                <md-list-item-->
<!--                  v-if="getState === true"-->
<!--                  :class="{ toggled: toggledClass }"-->
<!--                  @click="toggleNavbarMobile()"-->
<!--                  href="/#/feed"-->
<!--                >-->
<!--                  <i class="material-icons">announcement</i>-->
<!--                  <p>Streamer Updates</p>-->
<!--                </md-list-item>-->

                <md-list-item
                  :class="{ toggled: toggledClass }"
                  @click="toggleNavbarMobile()"
                  href="/#/streamers"
                >
                  <i class="material-icons">headset_mic</i>
                  <p>Streamers</p>
                </md-list-item>

                <!--              <md-list-item-->
                <!--                :class="{ toggled: toggledClass }"-->
                <!--                @click="toggleNavbarMobile()"-->
                <!--                href="/#/gamers"-->
                <!--              >-->
                <!--                <i class="material-icons">videogame_asset</i>-->
                <!--                <p>Gamers</p>-->
                <!--              </md-list-item>-->

                <md-list-item
                  :class="{ toggled: toggledClass }"
                  @click="toggleNavbarMobile()"
                  href="/#/about"
                >
                  <i class="material-icons">book</i>
                  <p>About</p>
                </md-list-item>

                <md-list-item
                  :class="{ toggled: toggledClass }"
                  @click="toggleNavbarMobile()"
                  href="/#/contact"
                >
                  <i class="material-icons">forum</i>
                  <p>Contact Us</p>
                </md-list-item>

                <md-list-item
                  :class="{ toggled: toggledClass }"
                  @click="toggleNavbarMobile()"
                  v-if="getState === false"
                  href="/#/login"
                >
                  <i class="material-icons">cloud_download</i>
                  <p>Log In</p>
                </md-list-item>

                <li class="md-list-item" v-if="getState !== true">
                  <a
                    href="javascript:void(0)"
                    class="md-list-item-router md-list-item-container md-button-clean dropdown"
                  >
                    <div class="md-list-item-content">
                      <drop-down direction="down">
                        <md-button
                          slot="title"
                          class="md-button md-button-link md-white md-simple dropdown-toggle"
                          data-toggle="dropdown"
                        >
                          <i class="material-icons">cloud_download</i>
                          <p>Register</p>
                        </md-button>
                        <ul class="dropdown-menu dropdown-with-icons">
<!--                          <li-->
<!--                            :class="{ toggled: toggledClass }"-->
<!--                            @click="toggleNavbarMobile()"-->
<!--                          >-->
<!--                            <a href="#/register-follower">-->
<!--                              <i class="material-icons">person</i>-->
<!--                              <p>Register Follower</p>-->
<!--                            </a>-->
<!--                          </li>-->
                          <li
                            :class="{ toggled: toggledClass }"
                            @click="toggleNavbarMobile()"
                          >
                            <a href="#/register-streamer">
                              <i class="material-icons">headset_mic</i>
                              <p>Register Streamer</p>
                            </a>
                          </li>
                        </ul>
                      </drop-down>
                    </div>
                  </a>
                </li>

                <li class="md-list-item" v-if="getState === true">
                  <a
                    href="javascript:void(0)"
                    class="md-list-item-router md-list-item-container md-button-clean dropdown"
                  >
                    <div class="md-list-item-content">
                      <drop-down direction="down">
                        <md-button
                          slot="title"
                          class="md-button md-button-link md-white md-simple dropdown-toggle"
                          data-toggle="dropdown"
                        >
                          <p v-if="getUserName">
                            {{ getUserName
                            }}<span>({{ getNotificationsCount }})</span>
                          </p>
                          <p v-else>User</p>
                        </md-button>
                        <ul class="dropdown-menu dropdown-with-icons">
<!--                          <li-->
<!--                            :class="{ toggled: toggledClass }"-->
<!--                            @click="clearNotifications()"-->
<!--                          >-->
<!--                            <a-->
<!--                              v-if="getUserType === 'follower'"-->
<!--                              href="#/follower-dashboard?notifications=true"-->
<!--                            >-->
<!--                              <i class="material-icons"-->
<!--                                >notification_important</i-->
<!--                              >-->
<!--                              <p>Notifications ({{ getNotificationsCount }})</p>-->
<!--                            </a>-->
<!--                            <a v-else href="#/dashboard?notifications=true">-->
<!--                              <i class="material-icons"-->
<!--                                >notification_important</i-->
<!--                              >-->
<!--                              <p>Notifications ({{ getNotificationsCount }})</p>-->
<!--                            </a>-->
<!--                          </li>-->
                          <li
                            v-if="getUserType === 'streamer'"
                            :class="{ toggled: toggledClass }"
                            @click="toggleNavbarMobile()"
                          >
                            <a
                              :href="
                                '#/streamer-profile?name=' + getUser.gamer_tag
                              "
                            >
                              <i class="material-icons">person</i>
                              <p>Profile</p>
                            </a>
                          </li>
                          <li
                            :class="{ toggled: toggledClass }"
                            @click="toggleNavbarMobile()"
                          >
                            <a href="#/edit">
                              <i class="material-icons">content_paste</i>
                              <p>Edit Profile</p>
                            </a>
                          </li>
                          <li
                            :class="{ toggled: toggledClass }"
                            @click="toggleNavbarMobile()"
                          >
                            <a href="#" @click.prevent="logout">
                              <i class="material-icons">content_paste</i>
                              <p>Logout</p>
                            </a>
                          </li>
                        </ul>
                      </drop-down>
                    </div>
                  </a>
                </li>

                <!--              <md-list-item-->
                <!--                v-if="getState"-->
                <!--                href="https://twitter.com/CreativeTim"-->
                <!--                target="_blank"-->
                <!--              >-->
                <!--                <i class="fab fa-twitter"></i>-->
                <!--                <p class="hidden-lg">Twitter</p>-->
                <!--                <md-tooltip md-direction="bottom"-->
                <!--                  >Follow us on Twitter</md-tooltip-->
                <!--                >-->
                <!--              </md-list-item>-->
                <!--              <md-list-item-->
                <!--                v-if="getState"-->
                <!--                href="https://www.facebook.com/CreativeTim"-->
                <!--                target="_blank"-->
                <!--              >-->
                <!--                <i class="fab fa-facebook-square"></i>-->
                <!--                <p class="hidden-lg">Facebook</p>-->
                <!--                <md-tooltip md-direction="bottom"-->
                <!--                  >Like us on Facebook</md-tooltip-->
                <!--                >-->
                <!--              </md-list-item>-->
                <!--              <md-list-item-->
                <!--                v-if="getState"-->
                <!--                href="https://www.instagram.com/CreativeTimOfficial"-->
                <!--                target="_blank"-->
                <!--              >-->
                <!--                <i class="fab fa-instagram"></i>-->
                <!--                <p class="hidden-lg">Instagram</p>-->
                <!--                <md-tooltip md-direction="bottom"-->
                <!--                  >Follow us on Instagram</md-tooltip-->
                <!--                >-->
                <!--              </md-list-item>-->
              </md-list>
            </div>
          </div>
        </div>
      </div>
      <!--    <div class="container">-->
      <!--    <error-with-message :message="'Error message in red'"></error-with-message>-->
      <!--    </div>-->
    </md-toolbar>
  </div>
</template>
<script>
import Users from "../services/api/Users";
let resizeTimeout;
function resizeThrottler(actualResizeHandler) {
  if (!resizeTimeout) {
    resizeTimeout = setTimeout(() => {
      resizeTimeout = null;
      actualResizeHandler();
    }, 66);
  }
}

import MobileMenu from "@/layout/MobileMenu";
import ErrorWithMessage from "../components/ErrorWithMessage";
import store from "../store";
import "vuejs-noty/dist/vuejs-noty.css";

export default {
  components: {
    MobileMenu,
    ErrorWithMessage
  },
  created() {
    this.user = this.getUser;
    let token = store.state.token;
    if (token !== null) {
      if (this.user == null) {
        Users.getUserByToken()
          .then(response => {
            this.user = response.user;
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
    if (store.state.status === "" && store.state.token !== "") {
      store.state.status = "success";
    }
    if (store.state.status === "success") {
      this.state = true;
    }
  },
  props: {
    type: {
      type: String,
      default: "white",
      validator(value) {
        return [
          "white",
          "default",
          "primary",
          "danger",
          "success",
          "warning",
          "info"
        ].includes(value);
      }
    },
    colorOnScroll: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      mainNavComp: 0,
      user: {},
      extraNavClasses: "",
      toggledClass: false,
      statusUpdate: store.state.notifications
    };
  },
  computed: {
    getState() {
      return store.state.status === "success" || store.state.token !== "";
    },
    getUserName() {
      return store.state.user.name;
    },
    getUser() {
      return store.state.user;
    },
    getUserType() {
      return store.state.userType;
    },
    getNotificationsCount() {
      return store.state.notifications;
    }
  },
  methods: {
    forceRerender() {
      this.mainNavComp += 1;
    },
    toggleNavbarMobile() {
      this.NavbarStore.showNavbar = !this.NavbarStore.showNavbar;
      this.toggledClass = !this.toggledClass;
    },
    clearNotifications() {
      this.toggleNavbarMobile();
      store.commit("update_notification_count", 0);
    },
    handleScroll() {
      let scrollValue =
        document.body.scrollTop || document.documentElement.scrollTop;
      let navbarColor = document.getElementById("toolbar");
      if (this.colorOnScroll > 0 && scrollValue > this.colorOnScroll) {
        this.extraNavClasses = `md-${this.type}`;
        navbarColor.classList.remove("md-transparent");
      } else {
        if (this.extraNavClasses) {
          this.extraNavClasses = "";
          navbarColor.classList.add("md-transparent");
        }
      }
    },
    scrollListener() {
      resizeThrottler(this.handleScroll);
    },
    logout: function() {
      store
        .dispatch("logout")
        .then(response => {
          let topicName = "status";
          this.$ws.$off(`${topicName}|live`);
          this.$ws.$off(`${topicName}|update`);
          this.$router.push("/");
        })
        .catch(err => console.log(err));
    },
    // subscribeToChannelStatus() {
    //   const status = this.$ws.subscribe("status");
    //   status.on("update", message => {
    //     let userFollows = store.state.follows;
    //     if (userFollows.includes(message.user_id)) {
    //       this.updateNotificationData(message);
    //       this.$noty.show(message.gamer_tag + " updated their status!");
    //     }
    //   });
    //   status.on("live", message => {
    //     let userFollows = store.state.follows;
    //     if (userFollows.includes(message.user_id)) {
    //       this.updateNotificationData(message);
    //       this.$noty.show(
    //         message.gamer_tag +
    //           " is going live at " +
    //           this.getCorrectTimeForUserTimeZone(message.stream_time)
    //       );
    //     }
    //   });
    // },
    updateNotificationData(message) {
      let notificationData = store.state.notificationData;
      let newNotificationData = Object.values(notificationData);
      let structuredMessage = {
        gamer_tag: message.gamer_tag,
        message: message.message,
        notification_type: message.notification_type,
        title: message.title ? message.title : "",
        stream_time: message.stream_time ? message.stream_time : "",
        timezone: message.timezone ? message.timezone : "",
        game: message.game ? message.game : ""
      };
      newNotificationData.unshift(structuredMessage);
      let notificationDataObject = this.arrayToObject(newNotificationData);
      let notificationCount = store.state.notifications;
      store.commit("update_notification_data", notificationDataObject);
      store.commit("update_notification_count", notificationCount + 1);
    },
    arrayToObject(arr) {
      let obj = {};
      for (var i = 0; i < arr.length; ++i) {
        obj[i] = arr[i];
      }
      return obj;
    },
    getCorrectTimeForUserTimeZone(selectedTime) {
      let convertedDate = new Date(selectedTime);
      return convertedDate.toLocaleString();
    }
  },
  mounted() {
    this.forceRerender();
    document.addEventListener("scroll", this.scrollListener);
    // this.subscribeToChannelStatus();
  },
  beforeDestroy() {
    document.removeEventListener("scroll", this.scrollListener);
  }
};
</script>
