<template>
  <footer
    class="footer"
    :class="{ [`footer-${type}`]: type }"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/#/guidelines">
              Guidelines
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; {{ year }} made with <md-icon>favorite</md-icon> by
        <a href="/" target="_blank">StreamFind</a>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  },
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style></style>
